<a href="https://colab.research.google.com/github/LokeCoder11/KnowledgeReference/blob/main/Data_Types_in_Python_(Instructor_Material)_Alok__8th_Feb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 4
x ** 2 # Output : 16 # Exponential Operator || Arithmetic Operator Category

16

In [ ]:
x = 9
y = 3
x // y # Output : 3 # Floor Division : Quotient

3

In [ ]:
x % y # Output : 0 # Remainder

0

In [ ]:
x = 5
x % 2 == 0 # True if Even | Simple expression to check even number

False

In [ ]:
2 - 5 + 7 * 5 / 3

8.666666666666666

In [ ]:
2 + 5 - 7 / 5 * 3

2.8000000000000007

In [ ]:
2 + 3 - 2

3

In [ ]:
2 - 3 + 2

1

In [ ]:
2 > 2 # Statement

False

In [ ]:
2 >= 2 # (2 > 2 or 2 == 2)

False

In [ ]:
5 / 2  # Division

2.5

In [ ]:
5 // 2 # Floor Division:: Quotient

2

In [ ]:
# Mul, Division, Floor Div, Modulo--> Have the same priority :: Left most will get executed
2 // 3 * 6 /2 % 3

0.0

In [ ]:
# Data types in python
int, float, boolean , tuple, list, string, set, Dictionaries
# Value is data --> Data type

In [ ]:
# Representation of all data types
x = 1 # Representation number with out decimal: Identify Integer
x = 1.5 # Representation number with decimal : Identified as Float
x = True # Representation as True or False : Identified as Boolean

In [ ]:
# String
x = 'Hello world' # Recognised as String by python : Single Quote
y = "Hello World" # Recognised as string by python : Double Quote
z = ''' hello World''' # Recognised as string by python : Triple Quotes

In [ ]:
 # Single Quote
x = 'I\'m Alok , I\'nt doing this' # Case where error will occur. use backward slash (\) to ingore the quotes
print(x)

I'm Alok , I'nt doing this

In [ ]:
# Double Quote
x = "I'm Alok , I'nt doing this"
print(x)

I'm Alok , I'nt doing this

In [ ]:
#
x = "I am Alok.
I am studying Python"

SyntaxError: unterminated string literal (detected at line 2) (<ipython-input-27-2b9cd3a6b02f>, line 2)

In [ ]:
 # Use triple quotes for multiliner strings
x = '''
I am Alok.
I am Studying python
'''

In [ ]:
'''
This a string
'''
x = 5
print(x)

5

In [ ]:
# String
# Representation
# 1. Single quote

'abc' # --> String

# 2. Double Quote
"abc" # --> String

# 3. Triple Quote
'''abc''' # String

In [ ]:
# # Comment
# '''
# Multiliner comment

# '''
# x = 5

In [ ]:
'AlmaBetter'

'AlmaBetter'

In [ ]:
x = 'I\'m Alok'
print(x)

I'm Alok

In [ ]:
x = "I'm Alok"

In [ ]:
x = '''
I am Studying python at AlmaBetter.
Enjoying it.
'''

In [ ]:
print(x)

I am Studying python at AlmaBetter.
Enjoying it.

In [ ]:
# 'Hello world' --> Consider as text

In [ ]:
print('hello \n world')

hello
 world

In [ ]:
# Whatsapp
eddedkd
dendwejdnejdnew
dekdwendkwendken
dlkewdwedkndkewnde
kejwdnewjdnewdjn

# --> Data is stored somewhere -> 'eddedkd\ndendwejdnejdnew\ndekdwendkwendken\ndlkewdwedkndkewnde\nkejwdnewjdnewdjn'

In [ ]:
# \n --> Python will understand as go to next line
x = "\nI am Studying python at AlmaBetter.\nEnjoying it. \n Awesome"
print(x)

I am Studying python at AlmaBetter.
Enjoying it.
 Awesome

In [ ]:
x = 'hello\tworld' # \t --> Tab separation
print(x)

hello	world

In [ ]:
x = 'hello\tworld'
print(x)

hello	world

In [ ]:
ex = 'abc'
type(ex)

str

In [ ]:
ex = '123'
type(ex)

str

In [ ]:
ex = 'I am Alok'
type(ex) # Space is also a character

str

In [ ]:
ex = 'I\'m A\'lok' # \ slash is to give instruction to python that ' is not the ending.

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-38-5016400189bc>, line 1)

In [ ]:
ex = "I'm Alok"
type(ex)

str

In [ ]:
print(ex)

I'm Alok

In [ ]:
ex = ""

In [ ]:
ex = "I am Studying in AlmaBetter\nI am learning python\nI am excited to start my journey\nMy aim is to become data scientist"

In [ ]:
print(ex)

I am Studying in AlmaBetter
I am learning python
I am excited to start my journey
My aim is to become data scientist

In [ ]:
ex = '''I am Studying in AlmaBetter
I am learning python
I am excited to start my journey
My aim is to become data scientist'''

In [ ]:
print(ex)

I am Studying in AlmaBetter
I am learning python
I am excited to start my journey
My aim is to become data scientist

In [ ]:
ex = '''I am Studying in AlmaBetter
I am learning python
I am excited to start my journey
My aim is to become data scientist
''' # ''' ''' helps to store data in multiple lines.

In [ ]:
ex

'I am Studying in AlmaBetter\nI am learning python\nI am excited to start my journey\nMy aim is to become data scientist\n'

In [ ]:
ex = 'I\'m studying Py\'thon'

In [ ]:
ex

"I'm studying Py'thon"

In [ ]:
ex = '''My name is Alok'''

In [ ]:
type(ex)

str

In [ ]:
# " " -->Single line
# ''' ''' --> Multiple line

In [ ]:
ex = 'c'
type(ex)

str

In [ ]:
ex = 'I am Alok\n I am teaching Python'
print(ex) # \n --> Display the output in new line.

I am Alok
 I am teaching Python

In [ ]:
ex = 'Alma\n\n\n\nBetter'
print(ex)

Alma



Better

In [ ]:
ex = 'Alma\tBetter' # tab separation

In [ ]:
print(ex)

Alma	Better

In [ ]:
ex = 'Alma'
type(ex) # String : each character is one element

In [ ]:
ex = 'A,l,m,a' # 7 elements
type(ex) # String : each character is one element

str

In [ ]:
len(ex)

7

In [ ]:
ex = 'Alma\n' #
# len() --> How many elements are there
# type() --> data type of the variable or data

In [ ]:
len(ex)

5

In [ ]:
x = 'Abcd' #--> String

In [ ]:
abcd = 1
x = [abcd] # list

In [ ]:
# List - [] --> Non primitive data type --> Collection of elements , Comma spearated
x = [ 2 , 3 , 4 , 'a' , 'b' , True ] # Python will recognise it as list, 6 elements
type(x)

list

In [ ]:
# String --> Primitive dtypes
x = '2,3,4,5' # 7 elements / characters

In [ ]:
# len() --> check no of elements in the variable
len(x)

7

In [ ]:
# Indexing and Slicing --> In detail
x[2]

'3'

In [ ]:
x = 'hello world'
# Output as 'e'

In [ ]:
x[1]

'e'

In [ ]:
# output as o
x[4]

'o'

In [ ]:
x[5] # output :

' '

In [ ]:
x = '2,3@4'

In [ ]:
x[0]

'2'

In [ ]:
# '2' --> String

In [ ]:
type(x[0])

str

In [ ]:
x[4]

'4'

In [ ]:
x[3]

'@'

In [ ]:
# List
y = [2 , 3 , 4 , 5] #  4 elements

In [ ]:
len(y)

4

In [ ]:
y[1]

3

In [ ]:
y[0]

2

In [ ]:
type(y[0])

int

In [ ]:
##

In [ ]:
# a vs 'a'
# 1. a --> Variable
# 2. 'a' --> String

In [ ]:
a = 1
b = 3
c = 'AlmaBetter'
d = False

x = [ a , b , c, d ] # Collection of Data is list

In [ ]:
print(x)

[1, 3, 'c', False]

In [ ]:
x[3]

False

In [ ]:
type(x[3])

bool

In [ ]:
string_ala = "[1, 3, 'c', False]"
string_ala[0]

'['

In [ ]:
len(string_ala)

18

In [ ]:
print(string_ala[15])

s

In [ ]:
# rules of created variable

In [ ]:
x = '''Alma"better'''

In [ ]:
print(x[0])

A

In [ ]:
print(x[4])

"

In [ ]:
# List
# Representation : []

ex = [3,2,4,5,6]
type(ex)

list

In [ ]:
ex = [3,'a',4,True,5.4]

In [ ]:
#
a = 1
b = 2
c = 3
ex = [a,b,c]

In [ ]:
print(ex)

[1, 2, 3]

In [ ]:
# 'a' --> Data  vs a --> variable

In [ ]:
# 'ab' vs ab

In [ ]:
ab = 1
bc = True # Boolean with Capital T
cd = 4.5
type([ab,bc,cd])

list

In [ ]:
# Tuple
# Representation ()
ex = (2,3,4,4.5,True,'abc')
type(ex)

tuple

In [ ]:
len(ex) # Number of elements inside the tuple

6

In [ ]:
# Set
ex = {2,3,4,5,9,10,'a',True,4.5}
type(ex)

set

In [ ]:
# Dictionary : {key: value}
ex = {'name':'Alok','Program':'Data Science'} #2
# 1 element is key:value pair
# Json :: APIs
# Hash map

In [ ]:
# Representation
# ex = '' ,"" ,''' ''' --> String
# ex = [] --> List
# ex = () --> tuple
# ex = {} --> Set
# ex = {key:value} --> Dictionary

In [ ]:
# Retention of inherent data type

In [ ]:
ex = 'abc12' # a --> 0th index, b --> 1st index, c...., 4th index

In [ ]:
# indexing --> 0
ex[0] # Indexing & Slicing

'a'

In [ ]:
ex[3]

'1'

In [ ]:
type(ex[3])

str

In [ ]:
ex = 'abc452' # Index

In [ ]:
type(ex[4])

str

In [ ]:
ex = ['a','b','c',1,2]

In [ ]:
ex[0]

'a'

In [ ]:
ex[3]

1

In [ ]:
type(ex[3])

int

In [ ]:
# String --> Each data will lose it's property and become string
# others (list,tuple,set & dict) --. Each data will have it's own type retained

In [ ]:
# Mutability vs Immutability
ex = [2,3,4,5,6]
ex[0]

2

In [ ]:
# Change value at 0th index from 2 to 'a'
ex[0] = 'a'

In [ ]:
print(ex)

['a', 3, 4, 5, 6]

In [ ]:
ex = 'AlmaBetter'
ex[0]

'A'

In [ ]:
# ex[2]

In [ ]:
# Change value from 'A' to 'a'
ex[0] = 'a'

TypeError: 'str' object does not support item assignment

In [ ]:
ex

'AlmaBetter'

In [ ]:
# .replace
ex.replace('a','A')

'AlmABetter'

In [ ]:
ex

'AlmaBetter'

In [ ]:
ex = ex.replace('A','a')

In [ ]:
ex_list = [3,4,5,6]
ex_list[0] = 5

In [ ]:
ex_list

[5, 4, 5, 6]

In [ ]:
#
ex = 'AlmaBetter'
ex.replace('A','a')

'almaBetter'

In [ ]:
# ex

'AlmaBetter'

In [ ]:
ex.replace('AB','ab')

'AlmaBetter'

In [ ]:
ex = 'ABrtcAB'

In [ ]:
ex.replace('AB','#$')

'#$rtc#$'

In [ ]:
# looping concept For, while, ..

In [ ]:
ex = (1,3,5,6)

In [ ]:
ex[0]

1

In [ ]:
# change 1 to 'a'
ex[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Mutable
ex = {1,2,3,4,5}
type(ex)

set

In [ ]:
# add 8
ex.add(8)

In [ ]:
ex

{1, 2, 3, 4, 5, 8}

In [ ]:
# Dictionary
ex = {3:4,'a':34}
ex['b'] = 'd'

In [ ]:
ex

{3: 4, 'a': 34, 'b': 'd'}

In [ ]:
ex['a'] = 56

In [ ]:
ex

{3: 4, 'a': 56, 'b': 'd'}

In [ ]:
# ordered vs Unordered
[2,3,4,5] == [5,3,4,2] # list is ordered

False

In [ ]:
{2,3,4,5} == {5,3,4,2} # Set is unordered

True

In [ ]:
{2,3,4,5} == {5,2,3,4}

True

In [ ]:
#
'hello' == 'elloh' # String is ordered

False

In [ ]:
(2,3,4,5) == (5,3,4,2) # tuple is ordered

False

In [ ]:
# Dictionary
{3:'a',6:'b'} == {6:'b',3:'a'}  # Dict is unordered

True

In [ ]:
# Indexing & Slicing
ex = [2,3,4,5]
ex[0]

2

In [ ]:
ex = {2,3,4,5}

In [ ]:
# ex[0]

In [ ]:
# input()
ex = input('Enter the age:')
print(ex)

Enter the age:50
50

In [ ]:
ex = int(input('Enter the age:'))
print(ex)
type(ex)

Enter the age:50
50

int

In [ ]:
ex = float(input('Enter the height:'))
print(ex)
type(ex)

Enter the height:5.10
5.1

float

In [ ]:
# By default input will store data as string

In [ ]:
ex

'30'

In [ ]:
print('hello world')

hello world

In [ ]:
x1 = float(input())
y1 = float(input())

x2 = float(input())
y2 = float(input())

x_mid = (x1+x2)/2
y_mid = (y1+y2)/2
print(f'Midpoint: {x_mid} {y_mid}')

3
3
4
4
Midpoint: 3.5 3.5

In [ ]:
# Question Midpoint
# Write your code here

x1 = float(input())
y1 = float(input())

x2 = float(input())
y2 = float(input())

x_mid = (x1+x2)/2
y_mid = (y1+y2)/2

print(f'Midpoint: {x_mid} {y_mid}')

In [ ]:
print(f'Midpoint: {x_mid},{y_mid}')
# use of fstring

In [ ]:
print('hello world')

hello world

In [ ]:
ex = 'hello world'
print(ex)

hello world

In [ ]:
# 'I want to print hello world' #if ex = 'hello world'
# 'I want to print AlmaBetter' #if ex = 'AlmaBetter'
# fstring
# ex = 'hello world'
ex = 'AlmaBetter'
print(f'I want to print {ex}')

I want to print AlmaBetter

In [ ]:
ex_list = [2,3,4,5]
ex_tuple = (2,3,4,5)
ex_string = '2345'
ex_set = {2,3,4,5}

In [ ]:
# Revision
#---Primitive data types-----
# 1 --> int
# 2.3 --> Float
# True/ False --> boolean
# 2+3j --> complex

# Non Primitive
# One single value will be there as data
# 'Abc' --> Str, "", ''' ''' # Element --> 3
# [2,3,4,2] --> list , # elements. -> 4
# (2,3,4,2) --> tuple # elements --> 4
# {2,3,4,5} --> set #elements --> 4
# {2:3, 4:5} -->  Dict # elements --> 2 # 2 & 4 are keys &  3 &5 are values --> {key:value} Pair

In [ ]:
# 'Abcd$' -->5
# 'A,b,c, d,$' --> 9

In [ ]:
# Immutability vs Mutability
# String --> Immutable
ex = 'AlmaBetter'
# You can't change the data or individual elements
# ex[0] = 'a'

In [ ]:
# List --> Mutable
# data can be changed, individual elements can be changed
ex = [3,4,5,6]
ex[0] = True

In [ ]:
ex

[True, 4, 5, 6]

In [ ]:
# Tuple --> Immutable
ex = (3,4,5,6)
ex[0] = 8

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Set --> mutable
ex = {1,2,3,4}
ex.add(5)
print(ex)
# {1,2,3,4} - {4}

{1, 2, 3, 4, 5}

{1, 2, 3}

In [ ]:
# Dictionary --> Mutable
ex = {2:3, 4:5}
ex[4] = 10

In [ ]:
ex

{2: 3, 4: 10}

In [ ]:
# Immutable vs Mutable
# Memory optimises your memory
ex_str = '1234'
ex_list = [1,2,3,4]
ex_tuple = (1,2,3,4)
ex_set = {1,2,3,4}
# All varibles have 4 elements all elements are same

In [ ]:
import sys
print(sys.getsizeof(ex_str))
print(sys.getsizeof(ex_list))
print(sys.getsizeof(ex_tuple))
print(sys.getsizeof(ex_set))

53
88
72
216

In [ ]:
# Immutable dtys will be allocated less memory compared to Mutable

In [ ]:
# Ordered vs Unordered

ex = 'AlmaBetter'

# Ordered--> Where sequence matters, each element has position defined & you can access each individual element using that position

In [ ]:
ex[0] # index

'A'

In [ ]:
# String ordered

In [ ]:
# List
ex = [1,2,3,4]
# ordered

In [ ]:
# tuple
ex = (1,2,3,4)
# Ordered

In [ ]:
# Set
ex = {1,2,3,4}
# Unordered

In [ ]:
# Dictionary
ex = {1:2,3:4}
# Unordered

In [ ]:
# ordered
[1,2,3,4] == [2,1,3,4] # False: Position is different even if values are same.

False

In [ ]:
# Unordered
{1,2,3,4} == {2,1,3,4} # True : Position doesn't matter and if values are same True

True

In [ ]:
# data type of infinity
ex = float('inf') # Positive
print(type(ex))
print(ex)

<class 'float'>
inf

In [ ]:
1/ex

0.0

In [ ]:
# 1/8888

In [ ]:
# Other Properties of Data types

ex= 'ALmandhibedwbdwb4879423487948209342394$%^&*!(~)@_~!@' # No restriction # each elements becomes string Retention of Data types

In [ ]:
ex = '1234'
type(ex[0])

str

In [ ]:
ex = [1,2,3,4]
type(ex[0]) # Retaining the property

int

In [ ]:
ex = '123421qwdqwdwqdwq2331313#!#$#$#!$**~~' # String

In [ ]:
type(ex[0])

str

In [ ]:
ex = [1,2,3]
ex[0]

1

In [ ]:
type(ex[0])

int

In [ ]:
# List : Any data type, inside the list : dump yard of data types
ex_alok = [2 , 2.3 , True , 3+8j,'String', [2,3,4] , (6,7,8), {5,4,6}, {3:4,5:6}] # Elements : 9

In [ ]:
len(ex)

9

In [ ]:
ex

[2, 2.3, True, (3+8j), 'String', [2, 3, 4], (6, 7, 8), {4, 5, 6}, {3: 4, 5: 6}]

In [ ]:
# Tuple Any data type, inside the list : dump yard of data types
ex = (2,2.3,True, 3+8j,'String',[2,3,4],(6,7,8),{5,4,6},{3:4,5:6})

In [ ]:
# Set
ex = {2,2.3,True, 3+8j,'String',[2,3,4],(6,7,8),{5,4,6},{3:4,5:6}}
# Set only accepts immutable data types including all primitve ones

TypeError: unhashable type: 'list'

In [ ]:
ex = {2,2.3,True, 3+8j,'String',(6,7,8)}

In [ ]:
ex

{(3+8j), (6, 7, 8), 2, 2.3, 'String', True}

In [ ]:
# Which all dtypes non primitive set will accept?
# String & TUple # immutable ones

In [ ]:
# Dictionary
# keys
# values
ex = {2:3,4:5}
# keys - Similar to set : only accepts immutable data types including all primitve ones.
# Values - Similar to list : Anything
# ex = {[1,2]: [3,4]} # List as key is not accepted
ex = {(1,2):[3,4]} # keys accept tuple
print(ex)

{(1, 2): [3, 4]}

In [ ]:
# Dictionary
ex = {'abc' : [3,4]}

In [ ]:
ex = {1,2,{3,4}} # Set only accpets primitive + Immutable # Eror

In [ ]:
# Duplication
ex_list = [1,2,2,2,2,3,3,3,4,2,1,5]

In [ ]:
ex_set = {1,2,2,2,2,3,3,3,4,2,1,5}

In [ ]:
print(ex_list)

[1, 2, 2, 2, 2, 3, 3, 3, 4, 2, 1, 5]

In [ ]:
print(ex_set)

{1, 2, 3, 4, 5}

In [ ]:
# List, tuple, string can have duplicate elements
# Set will have unique elements
# Dictionary will have unique keys

In [ ]:
ex_list = [1,2,2,2,2,3,3,3,4,2,1,5] # Duplication is allowed

In [ ]:
ex_string = 'AAAAAABBEEJ@!PJE' # Duplication is allowed

In [ ]:
ex_string

'AAAAAABBEEJ@!PJE'

In [ ]:
ex_tuple = (1,2,2,2,2,3,3,3,4,2,1,5) # Duplication is allowed

In [ ]:
ex_tuple

(1, 2, 2, 2, 2, 3, 3, 3, 4, 2, 1, 5)

In [ ]:
ex_set = {1,2,2,2,2,3,3,3,4,2,1,5}

In [ ]:
ex_set

{1, 2, 3, 4, 5}

In [ ]:
ex_dict = {2:3 , 4:5, 2:6, 5:5}

In [ ]:
ex_dict # keys are not going to accept duplicates, Values will accept it.

{2: 6, 4: 5, 5: 5}

In [ ]:
ex_Set = {1,2,3,2,True}

In [ ]:
print(ex_Set) # {1,2,3} : Boolean True is considered as 1

{1, 2, 3}

In [ ]:
ex_Set = {1,2,3,'2',True,2.0}

In [ ]:
ex_Set # int and float if value is same, it's duplicate but in other cases it will be distinct

{1, 2, '2', 3}

In [ ]:
ex_Set = {0,False,1,2,3,'2',(True,2.0),(True,2.0) }

In [ ]:
print(ex_Set)

{0, 1, 2, 3, (True, 2.0), '2'}

In [ ]:
ex_set = {True,1}

In [ ]:
ex_set

{True}

In [ ]:
ex_set = {1,True}

In [ ]:
ex_set

{1}

In [ ]:
ex_Set = {0,False,1,2,3,'2',(True,2.0,2.0),(True,2.0,2.0) } # list inside set --> No, tuple inside set --> yes
# Set will have unique values

In [ ]:
ex_Set

{(True, 2.0, 2.0), 0, 1, 2, '2', 3}

In [ ]:
# Non primitive DTypes
# collection of elements

ex_string = ''
print(type(ex_string))
len(ex_string)

<class 'str'>

0

In [ ]:
ex_string = '&'
print(type(ex_string))
len(ex_string)

<class 'str'>

1

In [ ]:
ex_list = []
print(type(ex_list))
len(ex_list)

<class 'list'>

0

In [ ]:
ex_list = [2]
print(type(ex_list))
len(ex_list)

<class 'list'>

1

In [ ]:
ex_tuple = ()
print(type(ex_tuple))
len(ex_tuple)

<class 'tuple'>

0

In [ ]:
ex_list = []
ex_tuple = ()

In [ ]:
import sys
print(sys.getsizeof(ex_list))
print(sys.getsizeof(ex_tuple))

56
40

In [ ]:
ex_dict = {}
print(type(ex_dict))
len(ex_dict)

<class 'dict'>

0

In [ ]:
ex_dict['name'] = 'AlmaBetter'

In [ ]:
ex_dict

{'name': 'AlmaBetter'}

In [ ]:
ex_set = set() # {}  --> Dict
print(type(ex_set))
len(ex_set)

<class 'set'>

0

In [ ]:
# Exception Set : Remove Duplicates
ex = {43,56,23,23,23.5,(23,),(23)}

In [ ]:
ex

{(23,), 23, 23.5, 43, 56}

In [ ]:
ex1 = (23) #
type(ex1)

int

In [ ]:
len(ex1)

TypeError: object of type 'int' has no len()

In [ ]:
ex2 = (23,)
type(ex2)

tuple

In [ ]:
len(ex2)

1

In [ ]:
# Exception :
# Tuple with single value you have to end with ,

In [ ]:
ex = (23,) # Tuple with one element end it with comma

In [ ]:
ex = (23,45) # Tuple

In [ ]:
a = ('alma')
type(a)

str

In [ ]:
a = ('alma',)
type(a)

tuple

In [ ]:
ex = {(23),(23,)}

In [ ]:
ex

{(23,), 23}

In [ ]:
ex = {23,23.5,23.0} # Exception - values are same then int and float are considered duplicates

In [ ]:
ex

{23, 23.5}

In [ ]:
# ex = input()
# str(ex)

In [ ]:
# Type casting
# One data type to another
# [1,2,3] --> tuple or set or anything

# Non primitive Dtypes
# Convert All others to string :

ex_list = [2,3,4,5]
ex_tuple  = (2,3,4,5)
ex_set  = {2,3,4,5}
ex_dict  = {2:3,4:5}

In [ ]:
# use : str(a)--> a will be converted to string
a = str(ex_list)
print(type(a))
print(a)

<class 'str'>
[2, 3, 4, 5]

In [ ]:
a[2] # String each character will take a place

','

In [ ]:
a[0]

'['

In [ ]:
str(ex_tuple) # Similar to other data types as well.

'(2, 3, 4, 5)'

In [ ]:
a

'[2, 3, 4, 5]'

In [ ]:
a[0]

'['

In [ ]:
a[1]

'2'

In [ ]:
a[2]

','

In [ ]:
a[3]

' '

In [ ]:
# All to list : list(a) --> output will a converted to list
ex_string = '2345'
ex_tuple  = (2,3,4,5)
ex_set  = {2,3,4,5}
ex_dict  = {2:3,4:5}

In [ ]:
# String to list :
type_c = list(ex_string)

In [ ]:
type(type_c)

list

In [ ]:
type_c

['2', '3', '4', '5']

In [ ]:
ex = [1,2,3] #List
ex_1 = str(ex) # List to string :: ex_1
print(ex_1) # printing it
ex_2 = list(ex_1)# String to list :: ex_2
print(ex_2) # printing it

[1, 2, 3]
['[', '1', ',', ' ', '2', ',', ' ', '3', ']']

In [ ]:
print(ex_1)

[1, 2, 3]

In [ ]:
ex = '[1,2,3]'
list(ex)

['[', '1', ',', '2', ',', '3', ']']

In [ ]:
# '[1,2,3]' --> list

In [ ]:
# print all vowels in a word
# if 'a' is present in the string

In [ ]:
ex_tuple  = (2,3,4,5) # tuple to list
list(ex_tuple) # Small bracket replaced by []

[2, 3, 4, 5]

In [ ]:
ex_set  = {2,3,4,5} # set to list
list(ex_set) # curly bracket replaced by []

[2, 3, 4, 5]

In [ ]:
ex_dict  = {2:3,4:5} # set to list
list(ex_dict) # Dict has 2 categories of data : key , values, by keys will be converted to list

[2, 4]

In [ ]:
list(ex_dict.values()) # values

[3, 5]

In [ ]:
list(ex_dict.keys()) # keys

[2, 4]

In [ ]:
# Tuple

In [ ]:
# Set

In [ ]:
# .count()
# len

In [ ]:
ex = [2,3,4,5]
# len(ex) # Function # total elements

4

In [ ]:
# .count() # methods
ex = [1,2,2,2,3,2,4,5]
ex.count(2)

4

In [ ]:
ex = [1,2,2,2,3,2,4,5]
ex.count(4) # count of specific element

1

In [ ]:
# .lower()
ex = 'AlmaBetter'
ex.count('a') # A & a is different

1

In [ ]:
ex = 'AlmaBetter'
ex.lower().count('a') # 2 : A has become small 'a'

2

In [ ]:
ex = 'AlmaBetter'
ex.upper().count('a')

0

In [ ]:
ex.upper()

'ALMABETTER'

In [ ]:
# .keys(), .values()

In [ ]:
ex = [1,2,3]
# list to tuple
# list(a) --> list
# tuple(a) --> tuple
tuple(ex)

(1, 2, 3)

In [ ]:
# Functions
# print()
# input()
# type()
# len()
# Float
# list() --> Conversion
# Str() --> Conversion

# methods
#.add --> Set
# .count() --> list, string, tuple
# .lower() --> String
# .upper() --> String