<a href="https://colab.research.google.com/github/LokeCoder11/KnowledgeReference/blob/main/Data_types_in_Python_II_10th_Feb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
ex = 'AlmaBetter'
ex[4] # Index as Address

'B'

In [ ]:
ex = '1,2,3,4'
len(ex)

7

In [ ]:
ex[1]

','

In [ ]:
type(ex[0])

str

In [ ]:
ex = [1 , 2 , 3 , 4] # List
ex[1]

2

In [ ]:
len(ex)

4

In [ ]:
type(ex[0])

int

In [ ]:
2 // 3

0

In [ ]:
2 % 3

2

In [ ]:
 #String : ' ', " " ,''' '''
 ex = '''This is my instutute.
 I love learning Data Science.
 I aspire to become the best data scientist
 '''

In [ ]:
print(ex)

This is my instutute.
I love learning Data Science.
I aspire to become the best data scientist

In [ ]:
ex = "This is my instutute.\nI love learning Data Science.\nI aspire to become the best data scientist"

In [ ]:
print(ex)

This is my instutute.
I love learning Data Science.
I aspire to become the best data scientist

In [ ]:
# List : , is used to separate elements

In [ ]:
# String - '', "", ''' '''
# List - []

In [ ]:
ex = [1,2,3,5] # This Square bracket
type(ex)

list

In [ ]:
# Tuple
ex = (1,2,3,5) # Collection of data in small bracket :: Python will recognise it as tuple.
type(ex) # Each element separated by ,

tuple

In [ ]:
len(ex)

4

In [ ]:
# Set
ex = {1,2,3,5} # Curly brackets
type(ex) # only Values , comma separated

set

In [ ]:
# Dictionary
ex = {'a': 1 , 'b': 2 } # Curly brackets, Key : value pair,
type(ex)

dict

In [ ]:
len(ex) # 2 key and value pair

2

In [ ]:
# Mutablity vs Immutability
# list is mutable : Change individual data
ex = [2,3,4,5,6]
# change 3 to 9
# Index of 3 is 1
ex[1] = 9

In [ ]:
print(ex)

[2, 9, 4, 5, 6]

In [ ]:
# Add an element
ex.append(100)
print(ex)

[2, 9, 4, 5, 6, 100]

In [ ]:
ex.insert(4,102)

In [ ]:
print(ex)

[2, 9, 4, 5, 102, 6, 100]

In [ ]:
# ex[0] == 3 # Is the value in ex[0] equal to 3 # False

False

In [ ]:
# String is immutable --> You cannot change individual data/ character
ex = 'hello world'
# 'h' to 'H'

ex[0] = 'H'

TypeError: 'str' object does not support item assignment

In [ ]:
# Replace everything / Overwrite it
ex.replace('hello', 'The') # Just giving an output not changing the original variable/ Value

'The world'

In [ ]:
ex

'hello world'

In [ ]:
# If we want to change the data or in ex , overwrite it
ex = ex.replace('hello', 'Hello') # Overwriting it

In [ ]:
ex

'Hello world'

In [ ]:
ex = 'hello world'
ex.replace('h','H')# Displaying the output, not changing the variable

'Hello world'

In [ ]:
ex

'hello world'

In [ ]:
ex = ex.replace('h','H') # Overwrite it

In [ ]:
print(ex)

Hello world

In [ ]:
# Mutable --> List, Set, Dictionary
# Immutable --> String , Tuple

In [ ]:
ex = (2,3,4,5,'a','b')
ex[0]

2

In [ ]:
# Change 2 to 100
ex[0] = 100

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Set --> Mutable
ex = {2,3,4,5,6,7}
ex.add(8) # 8 as an element
print(ex)

{2, 3, 4, 5, 6, 7, 8}

In [ ]:
ex.remove(5) # Remove 5 # I don't have to overwrite here.

In [ ]:
print(ex)

{2, 3, 4, 6, 7, 8}

In [ ]:
ex = [2,3,4,5]
ex[1] # Output is 3

3

In [ ]:
# Dictionary --> Mutable
ex = {'Alok': 80 , 'Vikas':90, 'Shivam' :85} # Key is analogy of index
ex['Alok'] # Number scored by Alok

80

In [ ]:
# # Add new key and value pair
ex['Aquib'] = 90
print(ex)

{'Alok': 80, 'Vikas': 90, 'Shivam': 85, 'Aquib': 90}

In [ ]:
ex.pop('Alok')

80

In [ ]:
ex

{'Vikas': 90, 'Shivam': 85, 'Aquib': 90}

In [ ]:
ex

{'Vikas': 90, 'Shivam': 85, 'Aquib': 90}

In [ ]:
# 'Pranjal' : 85
ex['Pranjal'] = 85

In [ ]:
ex

{'Vikas': 90, 'Shivam': 85, 'Aquib': 90, 'Pranjal': 85}

In [ ]:
 # .update for dictionary

ex_list = [1,2,3,4]
ex_string = '1,2,3,4'
ex_tuple = (1,2,3,4)
ex_set = {1,2,3,4}

In [ ]:
import sys # Module to check the size of variable or memory consumed by variable
print(sys.getsizeof(ex_list))
print(sys.getsizeof(ex_string))
print(sys.getsizeof(ex_tuple))
print(sys.getsizeof(ex_set))

88
56
72
216

In [ ]:
#
# ['Alok', 'Vikas', 'Shivam'] / ('Alok', 'Vikas', 'Shivam') # If I know data will not change in near future.

56

In [ ]:
# Ordered vs Unordered
# List is ordered
# Set is unordered

In [ ]:
ex_list = [1,2,3,4]
ex_set = {1,2,3,4}

In [ ]:
ex_list[0]

1

In [ ]:
ex_set[0] # No position is assigned here.

TypeError: 'set' object is not subscriptable

In [ ]:
# Ordered
[1,2,3,4] == [2,1,3,4]  # Sequence is different , because list is ordered, sequence also matters

False

In [ ]:
{1,2,3,4} == {2,1,3,4} # Set is unordered, doesn't what the sequence is,

True

In [ ]:
# Ordered --> List, String, Tuple
# Unordered --> Set, Dictionary
{1:2, 3:4} == {3:4 , 1:2} # True

True

In [ ]:
ex = [3,4,5,6]
ex[0] # Indexing : Gettting the individual data using index as address

3

In [ ]:
# Indexing and Slicing --> Ordered data :: Why?? Unordered dtypes don't store the address or index of values

In [ ]:
# Restrictions in Data storage
# String
ex = "dkemwfro3i4j3r190-23ei13[dpendc docpdewdenjen34324j2p423de]{{}}pe"
# No restriction :: Everything will become string

In [ ]:
# List
ex = [ 1 , 2.3 , True, 'Alok' , [3 , 4 , 5] , (4,3), {3,2,4} , {1:2,4:3} ] # No restriction of data : Dump yard of data storage

In [ ]:
# How many elements are there in ex?
len(ex) # 8

8

In [ ]:
# Tuple
ex = ( 1 , 2.3 , True, 'Alok' , [3 , 4 , 5] , (4,3), {3,2,4} , {1:2,4:3} ) # No restriction of data

In [ ]:
len(ex) # 8 elements

8

In [ ]:
# Set
ex = {1 , 2.3 , True, 'Alok' , [3 , 4 , 5] , (4,3), {3,2,4} , {1:2,4:3} }
# List, set & dictionary :: Can't be part of elements inside a set :: Mutable dtypes can't be stored in set

TypeError: unhashable type: 'list'

In [ ]:
ex = {1, 2.3 , 'Alok',True, (8,7)} #   List, set, dictionary :: Can't be stored in set :: Mutable data

In [ ]:
ex = {1 , 2.3 , True, 'Alok'  , (4,3)  } # All are accepted

In [ ]:
ex

{(4, 3), 1, 2.3, 'Alok'}

In [ ]:
# Dictionary
ex = {2:'a', 3:'b'}
# keys will behave like set, values will behave like list
# keys will accept immutable data types :: (List, set & Dictionary can't be part of keys)
# values will accept everything

In [ ]:
ex = { 1:[4,5] , 3.4 : (5,6) , 'A' : {2:3,4:5} ,  (3,4):(9,8)  }

In [ ]:
ex[(3,4)]

(9, 8)

In [ ]:
ex[3.4]

(5, 6)

In [ ]:
# Dictionary is combination of key and value
alok = {'name':'Alok' , 'age':30, 'Skill' : 'DS'} # {Key:Value}

In [ ]:
alok['age']

30

In [ ]:
alok['Skill']

'DS'

In [ ]:
# Restriction of data :: Keys, Values
# Keys : only immutable dtypes are accepted :: Same rules as set
# Values : All dtypes are accepted :: Same rules as list

In [ ]:
# Duplicate members
# String, List & Tuple can have duplicate values
ex = 'hello world' # Duplicate is allowed

In [ ]:
ex = [1,2,2,2,2,1,3,3,4,5] # Duplicate is allowed

In [ ]:
ex = (1,2,2,2,2,1,3,3,4,5) # Duplicate is allowed

In [ ]:
print(ex)

(1, 2, 2, 2, 2, 1, 3, 3, 4, 5)

In [ ]:
# Set
ex_set = {1,2,2,2,2,1,3,3,4,5}
print(ex_set) # Duplicates are removed , Only unique values are stored.

{1, 2, 3, 4, 5}

In [ ]:
{1, 2, '1', 2} # Output :: Unique data will be stored

{1, '1', 2}

In [ ]:
{1, 2, '1', 2, True} # Output: Exception : True is considered as int 1 by set.

{1, '1', 2}

In [ ]:
{1, 2, '1', 2, 0, False}  # Exception : False is considered as int 0 by set.

{0, 1, '1', 2}

In [ ]:
# Dictionary
# Key doesn't allow duplicated values , Value allows duplicates


ex_dict = { 1: 2, 3 : 4, 3: 6, 6 : 4}
print(ex_dict) # {1: 2, 3: 6} --- {1: 2, 3 : 4}

{1: 2, 3: 6, 6: 4}

In [ ]:
# Data with zero elements --> Initialisation
ex = '' # "", ''''''
print(type(ex))
print(len(ex))

<class 'str'>
0

In [ ]:
ex = []
print(type(ex))
print(len(ex))

<class 'list'>
0

In [ ]:
ex = ()
print(type(ex))
print(len(ex))

<class 'tuple'>
0

In [ ]:
ex = {}
print(type(ex)) # Dictionary
print(len(ex))

<class 'dict'>
0

In [ ]:
ex = set() # An exception, keep it in mind.
print(type(ex)) # set
print(len(ex))

<class 'set'>
0

In [ ]:
# Single element data
ex = 'H' # Single element String
len(ex)

1

In [ ]:
ex = [1] # Single element list
len(ex)

1

In [ ]:
ex = {1} # Single element set
len(ex)

1

In [ ]:
ex = {1:2} # Single element dictionary
len(ex)

1

In [ ]:
# here is the exception for tuple
ex = (1,) # Single element tuple, put comma at the end
type(ex) # Data type

tuple

In [ ]:
{2 , 3 , 2 , (3) , (4,5)} # Output

{(4, 5), 2, 3}

In [ ]:
{2 , 3 , 2 , (3) , (4,5), (3,)} # Output

{(3,), (4, 5), 2, 3}