<a href="https://colab.research.google.com/github/LokeCoder11/KnowledgeReference/blob/main/In_built_functions_and_Methods_16th_Feb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Operators Revision

In [ ]:
# Operators in Data types (Revision)
x = 4
x /= 2 # /= : Assignment Operator
print(x) # Output: 2.0, In case of division output in float

2.0

In [ ]:
ex = { 2 : [4,5], 3 : ['a','b'] }
print(ex[2] + ex[3])

[4, 5, 'a', 'b']

In [ ]:
[4 , 5 ] + [ 'a','b']

[4, 5, 'a', 'b']

In [ ]:
ex1 = {1:2, 3:4}
ex2 = {4:5, 6:7}
ex1 + ex2 # + : can't be applied on dictionary

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [ ]:
ex1[3]

4

In [ ]:
ex1[3] + ex2[6] # Output :11

11

In [ ]:
x = 12
y = 10
z = 0

(x < y) and (x != z) or not(x > z )

False

In [ ]:
ex1 = {1:2, 3:'hello'}
ex2 = {4:5, 6:'world'}

ex1[3] + ex2[6] # Concatenation is done by Python.

'helloworld'

In [ ]:
# help(object)

In [ ]:
# help(str)

## Fundamental Operations on different data types.

### CRUDD

### C : Create
### R : Read
### U : Update
### D : Delete
### D : Derivatives

### Create : Create different types of data

In [ ]:
# int, float, boolean

x = int()
y = float()
z = bool()

print(x)
print(y)
print(z)

0
0.0
False

In [ ]:
x = 0
y = 0.0
z = False
# Method is popular

In [ ]:
# x = set()
# print(x)

set()

#### Typecasting

In [ ]:
ex = '1'
type(ex)

str

In [ ]:
int(ex)

1

In [ ]:
input('enter the age:')

enter the age:30

'30'

In [ ]:
x = int()
print(type(x))

<class 'int'>

In [ ]:
type(x)

int

In [ ]:
x = 'a'
type(x)

str

In [ ]:
x = input('enter the age:') # Function : What's input is given is by default stored as string
print(type(x))
# x + 1

enter the age:30
<class 'str'>

In [ ]:
# # String to Integer
string_num = "123"
int_num = int(string_num)
print(int_num) # Output: 123
type(int_num)
# Note if any character is present like '123a' --> Then conversion will throw an error.
# string_num = 'abc'
# int(string_num)

# # Float to Integer
float_num = 45.67
int_num = int(float_num)
print(int_num)  # Output: 45 # Here it is not rounding off, directly taking number before the decimal.

# # Boolean to Integer
bool_value = False
int_bool = int(bool_value)
print(int_bool)  # Output: True : 1, False: 0

123
45
0

In [ ]:
#
string_num = "123.45"
# How many characters are there? --> 6 characters

In [ ]:
# String to Float
string_num = "123.45"
float_num = float(string_num)
print(float_num)  # Output: 123.45
type(float_num)

# # Integer to Float

int_num = 123
float_num = float(int_num)
print(float_num)  # Output: 123.0

# # Boolean to Float

bool_value = True
float_bool = float(bool_value)
print(float_bool)  # Output: 1.0

123.45
123.0
1.0

In [ ]:
# ex = '123.45'
# ex_float = float(ex)
# print(ex_float)
# int(ex_float)

In [ ]:

# Integer to Boolean
int_num = 0
bool_num = bool(int_num)
print(bool_num)  # Output: False

# Float to Boolean
float_num = 0.0
bool_float = bool(float_num)
print(bool_float)  # Output: False

# String to Boolean
str_value = "True"
bool_str = bool(str_value)
print(bool_str)  # Output: True

# Any number > 0 : True
int_num = 3
bool_num = bool(int_num)
print(bool_num)  # Output: True

# Any number < 0 : True
int_num = -3
bool_num = bool(int_num)
print(bool_num)  # Output: True

False
False
True
True
True

In [ ]:
# String with zero elements
ex = ''
ex = str() # Str function can be used to create empty string
len(ex)

0

In [ ]:
ex = 'hello'
type(ex)

str

In [ ]:
# create string from other data types : Typecasting

# Integer to String
int_num = 456
str_num = str(int_num)
print(str_num)  # Output: "456"

# Float to String
float_num = 78.90
str_float = str(float_num)
print(str_float)  # Output: "78.9"

# Boolean to String
bool_value = False
str_bool = str(bool_value)
print(str_bool)  # Output: "False"

# list to String
list_value = [1,2,3,4]
str_list = str(list_value)
print(str_list)  # Output: "[1,2,3,4]"

# Same applied on tuple ,set, dictionary : For you to explore

In [ ]:
# ex = input('Enter the list:')
# print(type(ex))
# ex

Enter the list:[1,2,3]
<class 'str'>

'[1,2,3]'

In [ ]:
ex = "[1,2,3,4]"
ex[0]

'['

In [ ]:
ex[1]

'1'

In [ ]:
ex[2]

','

In [ ]:
# List & tuple with zero elements
ex = []
ex = list() # list()  can be used to create empty list
ex = ()
ex = tuple() # tuple()  can be used to create empty tuple

In [ ]:
# List & tuple with multiple elements
ex = [1,2,3,4] # List

ex = (3,4,5,6) # Tuple

In [ ]:
# String to List

string_word = "Python"
list_word = list(string_word)
print(list_word)  # Output: ['P', 'y', 't', 'h', 'o', 'n']

string_word = "Data Science"
list_word = list(string_word)
print(list_word)  # Output: ['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e']

# # Tuple to List
tuple_numbers = (1, 2, 3)
list_numbers = list(tuple_numbers)
print(list_numbers)  # Output: [1, 2, 3]

# # List to Tuple
list_colors = ['Red', 'Green', 'Blue']
tuple_colors = tuple(list_colors)
print(tuple_colors)  # Output: ('Red', 'Green', 'Blue')

# # set to list or tuple
set_colors = {'Red', 'Green', 'Blue'}
list_colors = list(set_colors)
print(list_colors) # ['Red', 'Green', 'Blue']
tuple_colors = tuple(set_colors)
print(tuple_colors) # ('Red', 'Green', 'Blue')

# # Dictionary
dict_colors = {'a': 1, 'b' : 2, 'c': 3}
list_colors = list(dict_colors) # keys by default
print(list_colors)
tuple_colors = tuple(dict_colors) # keys by default
print(tuple_colors)

['P', 'y', 't', 'h', 'o', 'n']
['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e']
[1, 2, 3]
('Red', 'Green', 'Blue')
['Red', 'Green', 'Blue']
('Red', 'Green', 'Blue')
['a', 'b', 'c']
('a', 'b', 'c')

In [ ]:
# set and dictionary with zero elements
ex = set() # set() function can be used to create empty set
ex = {} # Dictionary
print(type(ex))
ex = dict() # dict() function can be used to create empty dict
print(type(ex))
len(ex)

<class 'dict'>
<class 'dict'>

0

In [ ]:
# List to Set
list_numbers = [1, 2, 2, 3, 4, 4, 5]
set_numbers = set(list_numbers)
print(set_numbers)  # Output: {1, 2, 3, 4, 5} # keeping only unique values.

# Experiment with tuple
tuple_numbers = (1,'a','a',2,3,'True')
set_numbers = set(tuple_numbers)
print(set_numbers) # Output : {1, 2, 3, 'a'}

# String to Set
string_characters = "abracadabra"
set_characters = set(string_characters)
print(set_characters)  # Output: {'a', 'r', 'b', 'c', 'd'}

# String to Set : Example - 2
string = 'AlmaBetter'
set_data_string = set(string) # {'A', 'B', 'a', 'e', 'l', 'm', 'r', 't'} # Duplicate values are not accepted.

# # Dictionary to set
# # Experiment with Dictionary
ex = {1:2, 3:4, 5:6}
print(set(ex)) # By default keys are taken

{1, 2, 3, 4, 5}
{1, 2, 3, 'True', 'a'}
{'r', 'd', 'b', 'c', 'a'}
{1, 3, 5}

In [ ]:
# When to use print and when not to use?

x = 5
print(x)
y = 6.4
print(y)
z = 5
print(z)
e = 9
print(e)
# Always use print

5
6.4
5
9

In [ ]:
# Experiment with tuple
tuple_numbers = (1 , 'a','a', 2 , 3 , 'True')
set_numbers = set(tuple_numbers)
print(set_numbers)

{1, 2, 3, 'True', 'a'}

In [ ]:
bool('True')

True

In [ ]:
tuple_numbers = (1 , 'a','a', 2 , 3 , bool('True'))
set_numbers = set(tuple_numbers)
print(set_numbers)

{1, 2, 3, 'a'}

In [ ]:
tuple_numbers = (1 , 'a','a', 2 , 3 , True)
set_numbers = set(tuple_numbers)
print(set_numbers)

{1, 2, 3, 'a'}

In [ ]:
# [1,2,3,4] -->values, Dict {key and value } pair

In [ ]:
# dict([1,2,4]) # Confusion is what should be used for keys vs values?

In [ ]:
# List of Tuples to Dictionary # keys and value
list_items = [('a', 1), ('b', 2), ('c', 3)]
my_dict = dict(list_items)
print(my_dict)  # Output: {'a': 1, 'b': 2, 'c': 3}

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# List of Lists (each containing key-value pairs) to Dictionary
list_of_lists = [['a', 1], ['b', 2], ['c', 3]]
my_dict = dict(list_of_lists)
print(my_dict)  # Output: {'a': 1, 'b': 2, 'c': 3}

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# Dictionary Keys to List
my_dict = {'a': 1, 'b': 2, 'c': 3}
list_keys = list(my_dict.keys())
print(list_keys)  # Output: ['a', 'b', 'c']
# Same can be applied on tuple and set
tuple_keys = tuple(my_dict.keys())
print(tuple_keys)
# Experiment it with set!!

['a', 'b', 'c']
('a', 'b', 'c')

In [ ]:
# Dictionary Values to List
my_dict = {'a': 1, 'b': 2, 'c': 3}
list_values = list(my_dict.values())
print(list_values)  # Output: [1, 2, 3]
# Same can be applied on tuple and set

[1, 2, 3]

In [ ]:
### Taking input from user to create data

In [ ]:
#input() : Function

In [ ]:
ex = input('Enter the data:') # By default data is created as string
print(type(ex))

Enter the data:[1,2,3]
<class 'str'>

In [ ]:
# ex = int(input('Enter the age:'))
# type(ex)

Enter the age:30

int

In [ ]:
# Create data for other data types, typecast it using

# eval() --> function - # Master typecaster : From string to any other data type.

ex = eval(input('Enter the data:'))#  data is typecasted from string to other data types:

print(type(ex))

print(ex)

# Caution : don't use eval if you are expecting to create data as string
# Only use eval when you are expecting data other than string.

Enter the data:{1:2,3:4}
<class 'dict'>
{1: 2, 3: 4}

In [ ]:
# Create numeric data using range() --> Function : For loop
# range()	Returns a sequence of numbers, starting from 0 and increments by 1 (by default)		list(range(1,6,1)) —> [1,2,3,4,5]
print(list(range(1,6,2))) # —> [1,3,5]

print(list(range(2,8,3))) # —> [2,5,8]
print(list(range(10,0,-2))) #—> [10,8,6,4,2]
# Follows same concept of I,j,k in slicing

[1, 3, 5]
[2, 5]
[10, 8, 6, 4, 2]

In [ ]:
# [1,2,3,4,5,6,7,8,9,10]
# Create a list with 1 to 100 in a sequence
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(1, 11 , 2))

[1, 3, 5, 7, 9]

In [ ]:
# Create a list with even numbers from 2 to 1000
#[2,4,6,8,10.....1000]
# list(range(2,1001,2))

In [ ]:
# Create a list from 1 to 10
list(range(1,11,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Create a list from [1,3,5,7,9]
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [ ]:
# Create a list with odd numbers from 1 to 1000
#
# list(range(1, 1000 ,2)) #range(starting point, end point, step size)# range(i,j,k)

In [ ]:
# Reverse data : Create a list of number from 10 to 1
list(range(10,0,-1)) # i = starting point, j = end point -1, k is negative

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
list(range(4 , -5 , -1))

[4, 3, 2, 1, 0, -1, -2, -3, -4]

In [ ]:
# [4,  2,  0,  -2,  -4] : Create this data
list(range(4 , -5 , -2))

[4, 2, 0, -2, -4]

In [ ]:
# Zip() --> Mostly used with for loop : Function
# Zips to two and more data index wise to create a combined data

x = [1,2,3,4]
y = ['a','b','c','d']
z = [10,20,30]
list(zip(x,y,z))

[(1, 'a', 10), (2, 'b', 20), (3, 'c', 30)]

In [ ]:
price = [500, 200, 300, 400]
discount = [.1, .2, .05, .4]

# Create a data with price and dicount combined as tuple
list(zip(price, discount))

[(500, 0.1), (200, 0.2), (300, 0.05), (400, 0.4)]

In [ ]:
ex = list(zip(price, discount))
print(ex)

[(500, 0.1), (200, 0.2), (300, 0.05), (400, 0.4)]

In [ ]:
dict(ex)

{500: 0.1, 200: 0.2, 300: 0.05, 400: 0.4}

In [ ]:
price = [500, 200, 300, 400]
discount = [.1, .2, .05, .4]
tax = [.18,.20,.1,.001]
# Create a data with price and dicount combined as tuple
list(zip(price, discount,tax ))

[(500, 0.1, 0.18), (200, 0.2, 0.2), (300, 0.05, 0.1), (400, 0.4, 0.001)]

In [ ]:
price = [500, 200, 300, 400]
discount = [.1, .2, .05, .4]
tax = [.18 , .20]
list(zip(price, discount,tax ))

[(500, 0.1, 0.18), (200, 0.2, 0.2)]

In [ ]:
price = [500, 200, 300, 400]
discount = [.1]
tax = [.18 , .20]
list(zip(price, discount,tax ))
# Zip is joining the data index wise.

[(500, 0.1, 0.18)]

In [ ]:
# Create a data which has index and value as tuples.
# enumerate()  -->  Mostly used with for loop # In built function

y = ['a','b','c','d']
list(enumerate(y))

string = 'hello world'
list(enumerate(string))

[(0, 'h'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'w'),
 (7, 'o'),
 (8, 'r'),
 (9, 'l'),
 (10, 'd')]

### Read : functions and methods help  reading different types.

In [ ]:
# print()	: function prints the specified message to the screen or other standard output device.	Compatible with all data types.	print(”Hello World”) —> “Hello World”
print([1,2,4,5]) #—> [1,2,4,5]

In [ ]:
# To include variable in the print use f string
x = 'hello world'
y = 'Python'
print(f"I want to print {x} while learning {y}") #

I want to print hello world while learning Python

In [ ]:
x = 'hello world'
y = 'Python'
print("I want to print",x, "while learning", y) #

I want to print hello world while learning Python

In [ ]:
# use print() : function to check ro display data stored in the variable
ex = [2,3,4,5] # change values here to check the output
print(ex)

[2, 3, 4, 5]

In [ ]:
# type() : function is used to check the data type.
ex = [2,3,4,5] # change values here to check the output
type(ex)

list

In [ ]:
# dir()
# Returns a list of the specified object's properties and methods
dir() # —> Prints all the objects

In [ ]:
# Read the index of element
# index()	Searches the string for a specified value and returns the position of where it was found.	String, List, Tuple	ex = ‘Hello World’

In [ ]:
# Index in String
ex = 'hello world'
ex.index('o') # —> 4  ; returns index of the first occurrence

4

In [ ]:
# Index in List
ex = [2,3,3,3,2,4,5,6,5]
ex.index(3) # —> 1  ; returns index of the first occurrence

1

In [ ]:
# Index in tuple
ex = (2,3,3,3,2,4,5,6,5)
ex.index(3) # —> 1  ; returns index of the first occurrence

1

In [ ]:
# Not applicable on set and dictionary as these two are unordered

In [ ]:
# Reading data in : Dictionary: keys and values
ex = {1:2, 3:4}
print(ex.keys())
print(ex.values())

dict_keys([1, 3])
dict_values([2, 4])

In [ ]:
# Reading both keys and values together : useful with for loop.
# using .items()
ex = {1:2, 3:4}
ex.items()

dict_items([(1, 2), (3, 4)])

In [ ]:
# Indexing and slicing is also a part of reading data.

### Update : Updates the original data

#### List

In [ ]:
# Change the data in list
ex = [2,3,4,5]
ex[0] ='a'
print(ex)
ex[2:4] = [10,20]
print(ex)

['a', 3, 4, 5]
['a', 3, 10, 20]

In [ ]:
#  Using operator to add data in the original list
ex = [2,3,4,5]
new_data = [6]
ex + new_data # Display the data, can be stored in new variable, not changing the original variable

[2, 3, 4, 5, 6]

In [ ]:
# append()	Adds an element at the end of the list	List	ex = [1,2,3,3,5]
ex.append(6) # —> [2, 3, 4, 5, 6]
print(ex)

[2, 3, 4, 5, 6]

In [ ]:
# extend()	Add the elements of a list (or any iterable) to the end of the current list	List	ex = [1,2,3,3,5]
ex.extend([6,7]) # —> [1,2,3,3,5,6,7]

In [ ]:
# insert()	Adds an element at the specified position	insert(position, element)	ex = [1,2,3,3,5]

ex.insert(0,6) # —> [6,1,2,3,3,5]

#### Dictionary

In [ ]:
# Add one key, value pair
ex = {1:2, 3:4}
ex[5] = 7
print(ex)

{1: 2, 3: 4, 5: 7}

In [ ]:
# Update the exisiting data
ex = {1:2, 3:4}
ex[3] = 7
print(ex)

{1: 2, 3: 7}

In [ ]:
# update()	Updates the dictionary with the specified key-value pairs	dictionary	ex = {'a' :1 , 'b':2}
ex.update({'c':2}) #—> {'a': 1, 'b': 2, 'c': 2}

#### set

In [ ]:
# Add one element to the set
# .add() --> method
ex = {'a','b'}
ex.add('c') # —> {'c', 'b', 'a'}
print(ex)

{'a', 'b', 'c'}

In [ ]:
# update()	Update the set with multiple data

ex.update(['c','d']) # —> {'c', 'b', 'a', 'd'}

In [ ]:
# In case of set data can't be replaced , it has to be removed then add new. # method discussed in delete section.

#### string: Original data is not changed rather update data is displayed (String is immutable)

In [ ]:
ex = 'hello'
ex2 = 'world'
ex + ' '+ ex2

'hello world'

In [ ]:
# replace()	Returns a string where a specified value is replaced with a specified value.	String	ex = 'Hello world'
ex.replace('world', 'World') # —> ‘'Hello World'’

'hello'

In [ ]:
# lower()	Converts a string into lowercase	String	ex = 'Hello world'
ex.lower() # —> 'hello world'

'hello'

In [ ]:
# upper()	Converts a string into upper case.	String	ex = 'Hello world'
ex.upper() #—> ‘'HELLO WORLD'’

'HELLO'

In [ ]:
# title()	Converts the first character of each word to upper case.	String	ex = ‘hello world’
ex.title() # —> ‘Hello World’

'Hello'

In [ ]:
# strip()	Returns a trimmed version of the string.	String
ex = '   hello world  '
ex.strip() #—> ‘hello world’

'hello world'

In [ ]:
# split()	Splits the string at the specified separator and returns a list.	String
ex = 'Hello world'
ex.split(' ') #—> [’Hello’, ‘world’]

['Hello', 'world']

In [ ]:
# join()	Method takes all items in an iterable and joins them into one string.	String
ex = ['h' , 'e' , 'l' , 'l' , 'o']
"-".join(ex) #—> h-e-l-l-o

'h-e-l-l-o'

### Delete : delete the original data

#### List

In [ ]:
# pop()	Removes the element at the specified position (.pop(position) )	List, dictionary, set
ex = [1,2,3,3,5]
ex.pop() #—> [1,2,3,3]
ex.pop(0) #—> [2,3,3,5]

1

In [ ]:
# remove()	Removes the first item with the specified value	List, set
ex = [1,2,3,3,5]
ex.remove(1) #—> [2,3,3,5]
ex.remove(3) #—> [1,2,3,5]

In [ ]:
# clear()	Removes all the elements from the list	List, Dictionary, Set
ex = [2,6,3,5]
ex.clear()
print(ex)

[]

In [ ]:
# copy()	Returns a copy of the list	List, Dictionary, Set
ex = [2,6,3,5]
ex1 = ex.copy() # { Shallow copy vs Deep Copy}

#### Dictionary

In [ ]:
# pop()	Removes the element with the specified key	List, dictionary, set
ex = {'a' :1 , 'b':2}
ex.pop('b') #—> {'a': 1}

2

In [ ]:
# clear()	Removes all the elements from the dictionary	List, Dictionary, Set
ex = {'a' :1 , 'b':2}
ex.clear()
print(ex)#  —> {}

{}

In [ ]:
# copy()	Returns a copy of the dictionary	 List, Dictionary, Set
ex = {'a' :1 , 'b':2}
ex2 = ex.copy()
print(ex2) #—>

{'a': 1, 'b': 2}

#### Set

In [ ]:
# remove()	Removes the specified element	List, set
ex1 = {'a','b','c'}
ex1.remove('a') #—> {’b’, ‘c’}

In [ ]:
# clear()	Returns a copy of the set	 List, Dictionary, Set
ex1 = {'a','b','c'}
ex2 = ex1.clear()

In [ ]:
# copy()	Returns a copy of the set	 List, Dictionary, Set
ex1 = {'a','b','c'}
ex2 = ex1.copy()

### Derivatives : Derives the output data based on the requirements.

#### General Purpose Functions

In [ ]:
# len() : Checks the total number of elements in the data type

In [ ]:
# Count() : Checks the count of individual elements  in the data type

In [ ]:
# sum() : Sum of numeric elements

In [ ]:
# max() : Max of numeric elements

In [ ]:
# min() : Min of numeric elements

In [ ]:
# round() : Rounds the decimals

In [ ]:
# abs() : Returns the absolute value of numbers

In [ ]:
# sorted() : Function
ex = {2,3,4}

In [ ]:
# .sort() : Method specific to list

In [ ]:
# bin()	Returns the binary version of a number
bin(17) #—> ‘0b10001’

'0b10001'

In [ ]:
#hex() Returns the binary version of a number
hex(17)

'0x11'

In [ ]:
# oct()
oct(17)

'0o21'

In [ ]:
# bin to decimal
int('10001', 2) # ,2 indicates binary

17

In [ ]:
# hex to decimal
int('11',16)

17

In [ ]:
# oct to decimal
int('21',8)

17

In [ ]:
# ord()	Convert an integer representing the Unicode of the specified character
ord('a') # —> 97 : Unicode of the character

97

In [ ]:
# chr()	Returns a character from the specified Unicode code.
chr(97) #—> ‘a’

'a'

#### Specific to string

In [ ]:
# lower()	Converts a string into lowercase	String
ex = 'Hello world'
ex.lower() #—> ‘'hello world'’

In [ ]:
# upper()	Converts a string into upper case.	String
ex = 'Hello world'
ex.upper() #—> ‘'HELLO WORLD'’

In [ ]:
# title()	Converts the first character of each word to upper case.	String
ex = 'hello world'
ex.title() #—> ‘Hello World’

In [ ]:
# strip()	Returns a trimmed version of the string.	String
ex = '   hello world  '
ex.strip() #—> ‘hello world’

In [ ]:
# split()	Splits the string at the specified separator and returns a list.	String
ex = 'Hello world'
ex.split(' ') #—> [’Hello’, ‘world’]

In [ ]:
# join()	method takes all items in an iterable and joins them into one string.	String
ex = ['h' , 'e' , 'l' , 'l' , 'o']
"-".join(ex) #—> h-e-l-l-o

'h-e-l-l-o'

#### specific to Set

In [ ]:
# union()	Return a set containing the union of sets	set
ex1 = {'a','b','c'}
ex2 = {'c','d','e'}
ex1.union(ex2) #—> {'a', 'b', 'c', 'd', 'e'}

# Union Operator :  |
ex1 | ex2

{'a', 'b', 'c', 'd', 'e'}

In [ ]:
# intersection()	Returns a set that is the intersection of two or more sets	set
ex1 = {'a','b','c'}
ex2 = {'c','d','e'}
ex1.intersection(ex2) #—> {'c'}
# Intersection Operator :  &
ex1 & ex2

{'c'}

In [ ]:
# difference()	Returns a set containing the difference between two or more sets	set
ex1 = {'a','b','c'}
ex2 = {'c','d','e'}
ex1.difference(ex2) #—> {’a’, ’b’}
# Intersection Operator :  -
ex1 - ex2

{'a', 'b'}

In [ ]:
# symmetric_difference()	Returns a set with the symmetric differences of two sets	set
ex1 = {'a','b','c'}
ex2 = {'c','d','e'}
ex1.symmetric_difference(ex2) #—> {’a’, ’b’, ’d’, ‘e’}

{'a', 'b', 'd', 'e'}

### List of function and methods (Quick Revision) : https://almabetter.notion.site/almabetter/Python-In-built-Functions-Methods-888c7749543c48bdb0ef2258782705cf