<a href="https://colab.research.google.com/github/LokeCoder11/KnowledgeReference/blob/main/Operators_in_Data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Indexing and Slicing Revision
ex = 'AlmaBetter'
# output as 'Alma'
ex[ 0 : 4 : 1 ] # +ve index i = 0 or blank , j = position of 'a' in OD = 3 + 1 = 4 , k = 1

'Alma'

In [ ]:
ex[ : 4 : ]

'Alma'

In [ ]:
# Output : 'AmBte'
ex [ 0 : 9 : 2 ] # i = 0 or blank , j = position of 'e' in OD =8 + 1, k = 2

'AmBte'

In [ ]:
ex [ 0 : -1 : 2 ]

'AmBte'

In [ ]:
ex [ :  : 2 ]

'AmBte'

In [ ]:
# Reverse
ex = 'AlmaBetter'
#amlA : Slice
ex[ 3 : -11 : -1] # i = 3 , j= blank, position of A in OD : -10 -1 = -11  , k = -1

'amlA'

In [ ]:
ex[3: : -1]

'amlA'

In [ ]:
ex = 'AlmaBetter'
# 'etBmA'
ex[ 8 : : -2] # i= 8 or -2 , j = blank, -10 -1 = -11 , k= -2

'etBmA'

In [ ]:
ex[ -2 : -11 : -2]

'etBmA'

In [ ]:
# input() --> Function

In [ ]:
# Change the data --> List
# get the data --> String , list, tuple, dict (using keys) # Indexing and Slicing
ex = [20,30,60,70,90] # [30,60,70] --> ['a', 'b', 'c']
ex[ 1 : 4 : 1]  = ['a', 'b', 'c'] # List is mutable

In [ ]:
print(ex)

[20, 'a', 'b', 'c', 90]

In [ ]:
ex = (20,30,60,70,90)
ex[ 1 : 4 : 1]  # getting is possible : Indexing and slicing

(30, 60, 70)

In [ ]:
ex[ 1 : 4 : 1]  = ['a','b','c'] # tuple

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Operators in Data types
# Arithmetic Operators : +, -, * , /, % , //, **
x = 10
y = 3
print( x ** 2 ) # Output : 100 # Exponential Operator x to the power 2.
print(x / y) # Output : 3.333 # Divison
print(x // y) # Output : 3 # Integer divison / Floor division --> Quotient of division
print(x % y) # Output : 1 # Remainder
print(x * y) # output : 30 # Multiplication
print(x + y) # Output : 13 # Addition
print(x - y) # Output : 7 # Subs
# Integer, Float & Boolean # Boolean

100
3.3333333333333335
3
1
30
13
7

In [ ]:
10 * False # False: 0

0

In [ ]:
10 / True # True : 1

10.0

In [ ]:
# String, List, Tuple, Set & Dictionaries

# '+' --> Addition Operator
# String
ex = 'hello'
ex2 = 'world'

print(ex + ex2) # Concatenate

helloworld

In [ ]:
ex = 'My '
ex2 = 'name '
ex3 = 'is '
ex4 = 'Alok'
print(ex + ' ' + ex2 +'x' +ex3 + 'y'+ ex4) # Concatenated : Clubbed together

My  name xis yAlok

In [ ]:
# List
ex = [1,2,3,4]
ex2 = [6,7,8,9]
ex + ex2 # Club all elements, concatenate

[1, 2, 3, 4, 6, 7, 8, 9]

In [ ]:
# tuple
ex = (1,2,3,4)
ex2 = (9,8,7)
ex + ex2 # Clubbed

(1, 2, 3, 4, 9, 8, 7)

In [ ]:
# Set
ex = {2,3,4}
ex2 = {5,6,7}
ex + ex2  # Can't apply + on Sets

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
# Dictionary
ex = {2:3, 4:5}
ex2 = {6:7, 8:9}
ex + ex2 # use + with dict

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [ ]:
# + is applicable to ordered data types :String, list, tuple : Concatenation

In [ ]:
# * --> Multiplication
# String, list, tuple, set & Dictionaries
ex = 'hello'
ex * 2 # Repeatation of string : Multiply with int to repeat that many times

'hellohello'

In [ ]:
ex= 'Data\n'
print(ex * 3) # repeat 3 times

Data
Data
Data

In [ ]:
# list
ex = [1 , 2 , 3 ]
ex * 3 # Output

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# tuple
ex = (1,2,3)
ex * 4 # Repeated 4 times

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
ex = [ [1 , 2 , 3 ] ] # How many elements are present? - 1
ex * 3 # Output

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [ ]:
# Set
ex = {1,2,3,4}
ex * 2 # * doesn't work with set # Set : Repeatation is not allowed, duplicates.

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [ ]:
# Dictionary
ex  = {1:2, 3:4 }
ex * 2 # doesn;t work, # Dictionary can't have duplicated keys

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [ ]:
# {1:2, 3:4, 1:2, 3:4 } : It's not accepted

In [ ]:
# * is applicable to ordered data types :String, list, tuple : Repeatation :: multiply with + ve int

In [ ]:
# Apart from + and * , nothing can be applied on string, list, tuple, set, dict:  /, **, //, %

In [ ]:
# - : Considered as difference operator for set :: can't be applied to string, list, tuple or dictionary

In [ ]:
# Comparison Operator
# == , !=, > , < , >=, <=
# We compare two different entities

x = 10
y = 34
print( x > y ) # False  : Output in boolean
print( x < y )  # True
print( x >= y ) # False
print( x <= y ) # True
print( x == y) # False
print(x != y) # True

False
True
False
True
False
True

In [ ]:
x = 8
y = 8
print(x >= y) # True
print(x <= y) # True

True
True

In [ ]:
# Data types -->
# == , != is used for other data types
# Rest comparison operators are not applicable to other data types
# it will not give error but output you can't interpret.

In [ ]:
ex = 'hello'
ex2 = 'world'
print(ex == ex2) # False
print(ex != ex2) # True
print(ex >= ex2) # There is no interpretation for the output: you are not going to use it.
print(ex <= ex2)

False
True
False
True

In [ ]:
ex = [1,2,3,5,4,3]
ex2 = [4,5,6,7]
print(ex == ex2) # False
print(ex != ex2) # True
# print(ex <= ex2)

False
True

In [ ]:
# 18 <= 22 # Output: no error but of no use.

True

In [ ]:
# tuple
ex = (1,2,3)
ex2 = (1,2,3)
print(ex == ex2) # True
print(ex != ex2) # False

True
False

In [ ]:
ex = (1,2,3)
ex2 = (2,1,3)
print(ex == ex2) # output : False
print(ex != ex2) # Output :  True

False
True

In [ ]:
# set
ex = {1,2,3}
ex2 = {2,1,3}
print(ex == ex2) # True
print(ex != ex2) # False

True
False

In [ ]:
# Data types: Ordered vs Unordered (Tuple vs set)

In [ ]:
# dictionary : Unordered
ex = {1:2 , 3:4}
ex2 = {3:4 , 1:2}
print(ex == ex2) # True
print(ex != ex2) # False
# Same logic of set is applied to dictionary

True
False

In [ ]:
# Logical operators --> and , or , not

In [ ]:
# and
x = 10
y = 30

( x < y ) and  (x != y) # Both has to come out to be True to get the output as True

True

In [ ]:
# I will Play cricket
# Conditions are
# weather is sunny and pitch is dry
weather  = input('Enter the current weather: ') # rainy
pitch = input('Enter the pitch report: ') # dry

Enter the current weather: spring
Enter the pitch report: dry

In [ ]:
if weather == 'sunny' and pitch == 'dry':
  print('I will play cricket')
 # True : Then only I will play cricket

I will play cricket

In [ ]:
# I want to eat chinese
# Only if food = noodle and sauce = mayo
food = input('Enter the food: ')
sauce = input('Enter the sauce: ')

Enter the food: momo
Enter the sauce: mayo

In [ ]:
if food == 'noodle' and sauce == 'mayo': # --> Eat the food # Both the conditions must be true
  print('I will eat food')

In [ ]:
# I want to eat chinese
# Only if food = noodle or sauce = mayo
food = input('Enter the food: ')
sauce = input('Enter the sauce: ')

Enter the food: momo
Enter the sauce: tomato

In [ ]:
if food == 'noodle' or sauce == 'mayo' : # --> Eat the food # Either of the condition is True : True
  print('I will eat food')
else:
  print('I will not eat')
# Forget about if - else - elif : Statements, indentation & Conditionals class

I will not eat

In [ ]:
# and -- > All conditions must be True to get output as True
# or --> atleast One of the condition should be True to get output as True

# True and True --> True
# True and False --> False
# False and True --> False
# False and False --> False

# True or True --> True
# True or False --> True
# False or True --> True
# False or False --> False

In [ ]:
x = 45
y = 67

print((x != y) and (x > y)) # Output : False
print((x != y) or (x > y)) # Output : True

False
True

In [ ]:
# not
# output the opposite of comparision
x = 23
y = 14

print(x > y) # True
print(not ( x > y )) # False || != : Compare two entities/ Variables ,
# not will just make the output opposite

True
False

In [ ]:
# and , or ,not if you have three together , sequence
x = 5
y = 9
z = 8

print((x < y) or (x != y) and not( x < z)) # True
# Sequence of execution : not, and , or
print( (x > y) or (x != y) and not( x < z) ) # False

True
False

In [ ]:
# 2 + 3 - 4 #

In [ ]:
# Membership Operator :: Boolean
# in and not in
# Only applicable to string, list, tuple, set and dictionaries

ex = 'hello world'
# if something is present in string
print('h' in ex) # Checking an element in the collection of elements

True

In [ ]:
print('wo' in ex) # True

True

In [ ]:
ex = [3,4,5,6]
print( 6 in ex ) # True 6 is present in the list

True

In [ ]:
ex = [ [1,2], [3,4], 6, 7]
print(1 in ex) # False [1,2] is the element in the list

False

In [ ]:
print([1,2] in ex) # True [1,2] is the element in the list

True

In [ ]:
ex[0]

[1, 2]

In [ ]:
ex = [ [1,2] , [3,4] , 6, 7]
print( 1 in ex[0] ) # True
print( 6 in ex[0]) # False
print( 6 in ex) # True

True
False
True

In [ ]:
print( 3 in ex[1] ) # True

True

In [ ]:
# Opposite of in is not in
ex = [3,4,5,6]
print(6 not in ex) # Asking python : if 6 is not present in ex :: False

False

In [ ]:
# tuple
ex = (3,4,5,6)
6 in ex # True :: Same logic is applied

True

In [ ]:
8 not in ex # True

True

In [ ]:
# Set
ex = {2,3,4,5}
print(4 in ex)

True

In [ ]:
# Dictionary

ex = { 3:4 , 5:6 , 7:8 }

print(4 in ex) # False # By default in keys it was checked.
print(5 in ex) # True
# What's happening here?
# if you check in dictionary and not mention keys or values then by default keys are checked.
print(4 in ex.values()) # True # .values() & .keys() are your methods
print(7 in ex.keys()) # True

False
True
True
True

In [ ]:
# Dictionary : Indexing by number : no || by keys you can index.
# ex[5]

6

In [ ]:
# Assignment operators
#  = it will assign value to a variable

x = 5 # assign 5 to x
#

In [ ]:
x += 7 # x = x + 7 # += : Assignment operator
print(x)

12

In [ ]:
x += 8 # x = x + 8
print(x)

20

In [ ]:
x -= 4 # x = x -4 # -= : Assignment operator

In [ ]:
print(x)

16

In [ ]:
x *= 2 # x = x * 2 # *= : Assignment operator
print(x)

32

In [ ]:
x /= 3 # x = x/3 # /= : Assignment Operator
print(x)

10.666666666666666

In [ ]:
x //= 3 # x = x // 3 #
print(x)

3.0

In [ ]:
x %= 2 # x = x % 3 #
print(x)

1.0

In [ ]:
x **= 0.5 # x = x ** (0.5)
print(x)

1.0

In [ ]:
x = 64
print(x ** (1/2))

8.0

In [ ]:
# Combine arithmetic operation and = : New assignment operator

In [ ]:
# Set Operator
# | : union
# & : Intersection
# - : Difference Operator
# Exploration Homework : Dashboard