<a href="https://colab.research.google.com/github/LokeCoder11/KnowledgeReference/blob/main/PYTHON_TUTORIAL_LESSONS_WEEK_1ST_ODIN_%26_ALMABETTER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#NAVIGATION TIPS -
check steps by step execution - https://pythontutor.com/render.html#mode=edit

SINGLE # IS TOPIC HEADING
DOUBLE ## IS SUB TOPIC
WITHOUT # REST IS LIST OR TEXT

Ctrl + / hash at the bottom , changes multiline comment

RUN - SHIFT + ENTER TO RUN AND GO TO NEXT CELL OR CTRL + ENTER TO RUN AND STAY IN SAME SELL

ENTRE & ESC TO GO IN & COME OUT OF CELL
J & K KEYS TO - MOVE UP AND DOWN

A - ADD CELL ABOVE
B - ADD CELL BELOW

dd - to delete cell (not work in google collab(
m - change cell to markdown text (not work in google collab(
y - change cell to code (not work in google collab(

# print - OUTPUT FUNCTION

In [ ]:
name='lokesh'
print('hello',name, 'congratulations on your first python')

hello lokesh congratulations on your first python

In [ ]:
name='lokesh'
age=45
print('hi, my name is', name, 'and my age is', age)

hi, my name is lokesh and my age is 45

In [ ]:
a=10
b=20
print(a+b)

30

In [ ]:
a='10'
b='20'
print(a+b)

1020

In [ ]:
a,b='10','20'
print(a+' '+b)

10 20

# in order to not worry about ( , ) or ( + ) to add info in print use {} - FORMAT FUNCTION

In [ ]:
a='ranjit'
b=20
print('hi my name is {} and i am {} years old.'. format(a,b))

hi my name is ranjit and i am 20 years old.

f-string directly print the input in curly bracket

In [ ]:
print(f'Hi my name is {a} and i am {b} years old.')

Hi my name is ranjit and i am 20 years old.

# input() -- INPUT FUNCTION --JOB IS TO TAKE INPUT FROM USER

In [ ]:
# prompt:

# Get the user's name, just name=input()
name = input("What is your name? ")

# Get the user's age
age = int(input("How old are you? "))

# Print a message to the user
print(f"Hello {name}, you are {age} years old.")

What is your name? Lokesh
How old are you? 30
Hello Lokesh, you are 30 years old.

In [ ]:
marks=input()
print('your marks is', marks)

9
your marks is 9

# TYPE - function tells what type of python data or object is the following

In [ ]:
a=10
print(type(a))

<class 'int'>

In [ ]:
a='lok'
print(type(a))

<class 'str'>

In [ ]:
a=12.99
print(type(a))

<class 'float'>

In [ ]:
a=True
print(type(a))

<class 'bool'>

 #input function - takes data by default as type 'string'

In [ ]:
marks=input()
print('your marks is', marks)

9
your marks is 9

In [ ]:
print(type(marks))

<class 'str'>

# TYPECASTING =
1. RESTRICT PUTTING ONLY 1 TYPE OF DATA &
2. CHANGE 1 DATA TYPE TO ANOTHER DATA TYPE &
 TYPE CONVERSION IN REAL LIFE - ORANGE>JUICER>JUICE
 TYPE CONVERSION IN PYTHON - '123' STRING > INT() > 123 INTEGER

int()
str()
float()
bool()

In [ ]:
marks = int(input("enter your marks: "))
print('your marks is', marks)

enter your marks: 19.00

ValueError: invalid literal for int() with base 10: '19.00'

# convert

In [ ]:
a=12.99
b=int(a)
print(b)

12

In [ ]:
a=12.99
b=str(a)
print(b)

12.99

In [ ]:
a=""
b=bool(a)
print(b)

False

In [ ]:
a="12"
b=int(a)
print(b)

12

# IN GOOGLE COLLAB - LAST LINE AUTOMATICALLY TAKES 'PRINT' COMMAND - IF NEED TO PRINT MULTIPLE LINE THEN NEED TO ADD 'PRINT' FOR EARLIER LINE

In [ ]:
a=10
b='pradeep'
print(a)
b #print(b)

10

'pradeep'

#ADD 2 INPUT AS PROBLEM

In [ ]:
name = input()
marks = int(input())
print(f"Hello, I'm {name} and I scored {marks} in science.")

lok
90
Hello, I'm lok and I scored 90 in science.

#INTIGER - CONDITIONAL STATEMENT  FOR DECIDING IF CODE WILL GET EXECUTED
#if & elif STARTS NEW BLOCK- for multiple statement

In [ ]:
marks=int(input())
if marks > 90:
  print('congrats you will get a computer')
elif 70 < marks < 90:
  print('you are there')
else:
  print('better luck next time')

65
better luck next time

#STRING CONDITIONAL STATEMENT  FOR DECIDING IF CODE WILL GET EXECUTED

In [ ]:
status=(input('enter your status'))
if status == 'pass':
    print('congrats')
else:
    print('sorry')

enter your statusno
sorry

#elif multiple waterfall condition NESTED STATEMENT - KEEP ADDING CODE IF EACH STEP OF CONDITION IS SATISFIED

In [ ]:
hour=int(input())
if hour<12:
    print('good morning')
else:
   if hour > 12 and hour<=18:
        print('good afternoon')
   else:
             print('good evening')

18
good afternoon

In [ ]:
age=int(input())
sal=int(input())
if (age<18):
  print('you must be 18')
elif (18<age<30 and sal>30000):
    print('scholarship')
else:
    print('not eligible')

19
31000
scholarship

#WHY USE " WHEN THERE IS ' INSIDE STATEMENT -

In [ ]:
sales = int(input())

if sales >= 10000:
  print('Employee's performance: Excellent')
elif sales >=5000 and sales <=10000:
  print('Employee's performance: Good')
elif sales >=2000 and sales <=5000:
  print('Employee's performance: Average')
else:
  print('Employee's performance: Poor')

SyntaxError: unterminated string literal (detected at line 4) (<ipython-input-8-3f3190035fa8>, line 4)

#DOUBLE OUTPUT WITH - FINAL PRINT COMMAND FOR BOTH OUTPUT

In [ ]:
students_marks = int(input())
if students_marks >= 90:
  grade = 'A'
elif students_marks >= 80:
  grade = 'B'
elif students_marks >= 70:
  grade = 'C'
elif students_marks >= 60:
  grade = 'D'
else:
  grade = 'F'

if students_marks >= 50:
  status = 'Passed'
else:
  status = 'Failed'

print('Grade', grade)
print('Status', status)

30
Grade F
Status Failed

In [ ]:
a=int(input())
b=int(input())
if a%b==0:
  print('Divisible')
else:
  print('Not divisible')

45
5
Divisible

#TERNARY OPERATOR - HELP IN WRITING CONDITIONAL EXECUTION IN 1 LINE (INSTEAD OF IF & ELIF WHICH IS IN DIFFERENT LINE) - TRUE VALUE IF CONDITION MET, ELSE FALSE VALUE

In [ ]:
n=int(input())
result="Even" if n%2==0 else "Odd"
result

21

'Odd'

In [ ]:
marks=int(input())
grade="A" if marks>=90 else "B" if marks >=80 else "C" if marks >=70 else "D"
grade

71

'C'

# IN SEQUENCE commands-
# \n NEW LINE &
# \t TAB SPACE
# ' 1ST with " NEXT inside for QUOTE USE
# " 1ST with ' NEXT inside for APOSTROPHY USE
# \ use before " for Begin & End to indicate SPECIAL CHARACTER THAT YOU WANT TO PRINT
# print() EMPTY LINE PRINT
# end=" " TO PRINT NEXT RESULT IN SAME LINE = IMMEDIATELY NEXT " " DEFINES SPACE TO BE GIVEN HOW BIG OR NOT
# ROUND DECIMAL PLACES with  :.2f

In [ ]:
print (' "how are you", \n good \t morning')

 "how are you",
 good 	 morning

In [ ]:
print("hey \"how are you\" ")

hey "how are you"

In [ ]:
print(1)
print()
print(3)
print(4)

1

3
4

In [ ]:
print(1,end="")
print(2)
print(3,end="    ")
print(4)
print(5, end=" --- ")
print(6)

12
3    4
5 --- 6

In [ ]:
a=2.3456
print(f"my number is {a:.2f}")
print(f"my number is {a:.5f}")

my number is 2.35
my number is 2.34560

#MODULE is COLLECTION OF FUNCTION
#inside Module we have n number of FUNCTIONS
# To ACCESS Function INSIDE Module we use .
# Eg. RANDOM IS MODULE WHICH WE USE BY
#1ST IMPORT {MODULE NAME}
#2ND CALL A SPECIFIC FUNCTION WITH . TO  USE FUNCTION - MODULE NAME.FUNCTION NAME ( )

In [ ]:
# prompt:

import random
print(random.randint(1,100))
print(random.random())
print(random.choice([1,2,3,4,5,6,7,8,9]))

48
0.804364165703997
1

#DATA TYPE AND INDEX

In [13]:
ex = "AlmaBetter"
     #Give Index as Address to extract data from string
      # string index starts with 0
print(len(ex))
print(ex[2])

10
m

In [19]:
ex = "1,2,3,4" #numbers as strings
print(len(ex))
print(ex[2])
print(type(ex))
print(type(ex[0]))

7
2
<class 'str'>
<class 'str'>

In [18]:
ex = [1,2,3,4] #numbers as list
print(len(ex)) #List : doesn't count (,) which is used to separate elements
print(ex[2]) #List index also starts from 0
print(type(ex))
print(type(ex[0]))

4
3
<class 'list'>
<class 'int'>

# // : QUOTIENT or Floor Division or Intiger Division &
# % get REMAINDER

In [25]:
print(9//2)
print(3//2)
print(2%3)
print(9%3)
print(9%2)

4
1
2
0
1

In [36]:
#singe quote and triple quote
ex = '''hi i
am lokesh
from alma.'''

ex2 = "hi, i. \nAm lokesh. \nFrom alma."

print(ex)
print()
print(ex2)

hi i
am lokesh
from alma.

hi, i.
Am lokesh.
From alma.

# BOTH SEPARATED BY ,
#TUPLE : STARTS WITH ( ) PYTHON WILL RECOGNIZE IT AS TUPLE VS
#LIST :  STARTS WITH [ ] PYTHON WILL RECOGNIZE IT AS LIST OF ELEMENTS WITH INDIVIDUAL IDENTITY RETAINED.

In [42]:
ex=(1,2,3,5)
ex2=[1,2,3,5]
print(type(ex))
print(type(ex2))
print(len(ex))
print(len(ex2))
print(type(ex[0]))
print(type(ex2[0]))

<class 'tuple'>
<class 'list'>
4
4
<class 'int'>
<class 'int'>

#SET Vs Dictionary both have { } but different syntax

In [50]:
ex={1,2,3,5} # Set Curly bracket
ex2={'a':1,'b':2,'c':3,'d':5} # Dictionary Curly bracket with Key: Value Pair connected to Key
print(type(ex))
print(type(ex2))
print(len(ex))
print(len(ex2))
print(type(ex[1]))
print(type(ex2[1]))

<class 'set'>
<class 'dict'>
4
4

TypeError: 'set' object is not subscriptable


#LOOP

In [2]:
num = int(3) # define - Constant given

for i in range(11):  # define Variable with 'For Loop' -- number of times to loop
    result = num * i  # define -- operation to execute in each loop and get 1 Output for 1 loop
    print(num, "x", i, "=", result)

3 x 0 = 0
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [7]:
number = input()
digit_count = 0 #define start number

for digit in number:
    digit_count += 1 #define how to change the start number

print(digit_count)

45216
5

In [3]:
sum = 0
for i in range(2, 51, 2):
  sum += i
print(sum)

650

In [10]:
# Nested Loop - i represent rows and j represent column (as inside or nested lool)
for i in range(1, 4):
  print('hello', end=" ")
  for j in range(1, 3):
    print('hi', end=" ")
  print()

hello hi hi
hello hi hi
hello hi hi

In [12]:
# Nested Loop - i represent rows and j represent column (as inside or nested lool)
for i in range(3):
  for j in range(6):
    print('hi', end=" ")
  print()

hi hi hi hi hi hi
hi hi hi hi hi hi
hi hi hi hi hi hi

In [13]:
# Nested Loop - i represent rows and j represent column (as inside or nested lool)
for i in range(3):
  for j in range(6):
    print(i, end=" ")
  print()

0 0 0 0 0 0
1 1 1 1 1 1
2 2 2 2 2 2

In [14]:
# Nested Loop - i represent rows and j represent column (as inside or nested lool)
for i in range(3):
  for j in range(6):
    print(j, end=" ")
  print()

0 1 2 3 4 5
0 1 2 3 4 5
0 1 2 3 4 5

In [16]:
# Nested Loop - i represent rows and j represent column (as inside or nested lool)
a = int(input())
for i in range(1,a+1):
  for j in range(i):
    print('*', end=" ")
  print()

4
*
* *
* * *
* * * *

In [19]:
# Nested Loop with negative steps- i represent rows and j represent column (as inside or nested lool)
a = int(input())
for i in range(a,0,-1):
  for j in range(i):
    print('*', end=" ")
  print()

4
* * * *
* * *
* *
*

In [23]:
# Nested Loop - i represent rows and j represent column (as inside or nested lool)
a = int(input())
for i in range(1,a+1):
  for j in range(i):
    print(i, end=" ")
  print()

4
1
2 2
3 3 3
4 4 4 4

In [26]:
# Nested Loop - i represent rows and j represent column (as inside or nested lool)
a = int(input())
for i in range(1,a+1):
  for j in range(1, i+1):
    print(j, end=" ")
  print()

4
1
1 2
1 2 3
1 2 3 4

In [28]:
# break -- stop running code
for i in range(1, 10, 1):
  if i > 5:
    break
  print(i)

1
2
3
4
5

In [34]:
# pass--empty or nothing -- just to maintain syntax without giveing any input or condition
for i in range(4):
  pass
  print(i)

0
1
2
3

In [38]:
# continue -- breaking current iteration of the loop
for i in range(10):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9

In [40]:
#string functions
a="how are you"
a.capitalize()

'How are you'

In [41]:
a="how are you"
a.title()

'How Are You'

In [42]:
a="HOw are you"
a.lower()

'how are you'

In [43]:
a="HOw are you"
a.upper()

'HOW ARE YOU'

In [51]:
#Split strint type to list type
a="How are you"
b=a.split()
print(b)

['How', 'are', 'you']

In [53]:
#split with delimiter
a = "How are, you, doing today"
b=a.split(",")
print(b)

['How are', ' you', ' doing today']

In [54]:
#join is reverse of split -- combining your list to create string
s="".join(b)
s

'How are you doing today'

In [57]:
t=s.replace("H","W")
t

'Wow are you doing today'

In [65]:
#strip - removes empty space from beginning and end
a="          HOw are you       "
a.strip()

'HOw are you'

In [69]:
#strip - removes empty space from beginning
a="          HOw are you       "
a.lstrip()

'HOw are you       '

In [68]:
a="frog"
for i in a:
  print(i)

f
r
o
g

In [67]:
find_vowel = str(input())
a = 0
for i in find_vowel:
  if i in "aeiou":
    a += 1
print("The number of vowels in the string is:", a)

hello world
The number of vowels in the string is: 3