<a href="https://colab.research.google.com/github/LokeCoder11/KnowledgeReference/blob/main/week_6_New_Learning_from_Interview_Q.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
Write a Python program to get the every nth element in a given list.

Example 1:
Input:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2

Output:
[2, 4, 6, 8, 10]
"""

# Write your code here

def get_every_nth_element(my_list, n):
  """
  Gets every nth element from a list using slicing.
  Returns:
      A new list containing every nth element from the original list.
  """
  return my_list[n - 1::n]  # Start from n-1, with step of n

# Example usage
my_list = eval(input())
nth_element = int(input())

every_nth_list = get_every_nth_element(my_list, nth_element)
listed = list(every_nth_list)
print(list(listed))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
2
[2, 4, 6, 8, 10]

In [ ]:
#write your code inside main function
text1 = input()

string_length = len(text1)
print(f'{string_length}')

sasd
4

In [ ]:
"""
Write a Python program to convert month name to a number of days. Print 'Wrong month name' for incorrect input. Note: February has 28/29 days.

Example 1:
Input:
February

Output:
28/29 days
"""

# Write your code here

def month_to_days(month_name):
  """
  Converts a month name to the number of days, considering leap years for February.

  Returns:
      The number of days in the month, or "Wrong month name" for invalid input.
  """

  month_name = month_name.lower()  # Convert input to lowercase for case-insensitive matching
  days_in_month = {
      "january": "31 days",
      "february": "28/29 days",
      "march": "31 days",
      "april": "30 days",
      "may": "31 days",
      "june": "30 days",
      "july": "31 days",
      "august": "31 days",
      "september": "30 days",
      "october": "31 days",
      "november": "30 days",
      "december": "31 days"
  }

  # Check for valid month name
  if month_name not in days_in_month:
    return "Wrong month name"

  return days_in_month[month_name]

# Example usage
month_name = input()
days = month_to_days(month_name)
print(days)

February
28/29 days

In [ ]:
"""
Write a Python program to add two objects if both objects are an integer type.

Example 1:
Input:
10

20

Output:
30

Example 2:
Input:
10

12.5

Output:
Inputs must be integers!
"""

def add_integers(obj1, obj2):
  """
  Adds two objects if both are integers, otherwise returns a message.

  Returns:
      The sum of the objects if both are integers, otherwise a message indicating
      non-integer inputs.
  """

  if isinstance(obj1, int) and isinstance(obj2, int):
    return obj1 + obj2
  else:
    return "Inputs must be integers!"

# Example usage
object1 = eval(input())
object2 = eval(input())

result = add_integers(object1, object2)
print(result)

10
10.3
Inputs must be integers!

In [ ]:
"""
Write a Python program to check a triangle
is equilateral, isosceles or scalene.
Note : An equilateral triangle is a triangle
in which all three sides are equal.
A scalene triangle is a triangle that
has three unequal sides. An isosceles
triangle is a triangle with (at least)
two equal sides.
Example 1:
Input:
6
8
12

Output:
Scalene triangle
"""

def check_triangle(side1, side2, side3):
  """
  Checks the type of triangle based on the length of its sides.
  Returns:
      A string indicating the type of triangle: "Equilateral", "Isosceles", or "Scalene".
  """

  # Check for equilateral triangle
  if side1 == side2 == side3:
    return "Equilateral triangle"

  # Check for isosceles triangle
  elif side1 == side2 or side2 == side3 or side1 == side3:
    return "Isosceles triangle"

  # Otherwise, it's a scalene triangle
  else:
    return "Scalene triangle"

# Example usage
side1st = int(input())
side2nd = int(input())
side3rd = int(input())

triangle_type = check_triangle(side1st, side2nd, side3rd)
print(f"{triangle_type}")

6
8
12
Scalene triangle

In [ ]:
"""
Write a Python program to check a list is empty or not.

Example 1:
Input:
[]

Output:
List is empty
"""
#write your code inside main function

def is_empty(my_list):
  """
  Checks if a list is empty.

  Returns:
      True if the list is empty, False otherwise.
  """
  return len(my_list) == 0  # Check if the length of the list is 0

# Example usage
my_list = eval(input())

if is_empty(my_list):
  print("List is empty")
else:
  print("List is not empty")

[]
List is empty

#PROBLEM :
```
Write a Python program to test whether all numbers of a list is greater than a certain number.

Example 1:
Input:
[2, 3, 4, 5]

1

Output:
True
```

In [ ]:
list1 = eval(input())
num1 = int(input())

for i in range(len(list1)):
    if list1[i] > num1:
        print('True')

[2, 3, 4, 5]
1
True
True
True
True

In [ ]:
def all_greater_than(numbers, target):
  """
  Checks if all numbers in a list are greater than a certain number.

  """
  for number in numbers:
    if number <= target:
      return False
  return True

list1 = eval(input())
num1 = int(input())

if all_greater_than(list1 , num1):
  print("True")
else:
  print("False")

[2, 3, 4, 5]
1
True

```
Write a Python program to append a list to the second list.

Example 1:
Input:
[1, 2, 3, 0]

['Red', 'Green', 'Black']

Output:
[1, 2, 3, 0, 'Red', 'Green', 'Black']
```

In [ ]:
list1 = eval(input())
list2 = eval(input())

new_list = list1 + list2
print(new_list)

[1, 2, 3, 0]
['Red', 'Green', 'Black']
[1, 2, 3, 0, 'Red', 'Green', 'Black']

In [ ]:
my_list = eval(input())

new_list = my_list.pop(0,2)

print(new_list)

[1,2,3,4,5]

TypeError: pop expected at most 1 argument, got 2

# Problem
Write a Python program to print a specified list after removing the 0th, 4th and 5th elements

Example 1:
Input:
['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

Output:
['Green', 'White', 'Black']

In [ ]:
my_list = eval(input())
index_to_remove= [0,4,5]

# new_list = [x for i,  x in enumerate(my_list) if i not in index_to_remove]
new_list = []

for index1, number1 in enumerate(my_list):
    if index1 not in index_to_remove:
      new_list.append(number1)

print(new_list)

 ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
['Green', 'White', 'Black']

In [ ]:
x = eval(input()) #can take input as list: [1,2,3]
print(x)

[1,3,4]
[1, 3, 4]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in numbers:
  if num % 2 == 0:
    continue
  print(num)

#Which method can be used to check if a list contains a specific element in Python?
print()
print(numbers.index(7))

1
3
5
7
9

6

In [ ]:
names = ['Alice', 'Bob', 'Charlie']

ages = [25, 30, 35]
output = []

for name, age in zip(names, ages):
    print(f"{name}:{age}")

Alice:25
Bob:30
Charlie:35

In [ ]:
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]

# Using zip to combine the lists into tuples
combined_data = list(zip(names, ages))

# Output
print(combined_data)  # Output: [('Alice', 25), ('Bob', 30), ('Charlie', 35)]

[('Alice', 25), ('Bob', 30), ('Charlie', 35)]

In [ ]:
original_list = [1, 2, 3, 4, 5]

reversed_list = []

for i in range(len(original_list)-1, -1, -1):

	reversed_list.append(original_list[i])

print(reversed_list)

[5, 4, 3, 2, 1]

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3}

for key in my_dict:

	print(key, my_dict[key])

a 1
b 2
c 3

In [ ]:
flag = False

for i in range(10):

	for j in range(10):

		if i%2==0:

			flag = True

		break

		if flag:

			break
print(i)

9

In [ ]:
#Which of the following is used to extract the third and fourth elements of the tuple?
tuple1=(1,2,3,4,5)

print(tuple1[2:4]) #these are index number so starting number will be 1 less
print(tuple1[3:6])

(3, 4)
(4, 5)

NameError: name 'index' is not defined

In [ ]:
#Which brackets are used for 'function' call?
# ()      Not [] which is 'index' call


What is the output of the following code snippet?
```
x = 10
if x > 5:
    if x > 8:
        print("x is greater than 8")
    else:
        print("x is greater than 5 but less than or equal to 8")
else:
    print("x is less than or equal to 5")
```
* Correct Answer -
x is greater than 8
* The condition x > 5 is true, so the first block of code executes. The condition x > 8 is also true, so the nested if block executes and prints "x is greater than 8".

In [ ]:
#What will be the output of the following code snippet?

sentence=("Data Science")
sentence.count('data') #count() method returns the count of a string in the given string
# data != Data (so output 0 instead of 1 if it was Data)

0

In [ ]:
#What is the output of the following code?

my_dict = {"a": 1, "b": 2, "c": 3}
print(my_dict.get("d", 0))
#The get() method returns the value for the specified key if it exists in
#the dictionary, and the default value (which is the second argument) if
#the key is not found. In this case, the key "d" is not in the dictionary,
# so the output of the code will be 0 WHICH IS DEFAULT VALUE.

0

# ISINSTANCE isinstance FUNCTION

In [106]:
# 1. Filtering elements in a list based on data type:

data = ["apple", 10, 3.14, True, None]

# Filter out elements that are not strings
strings = [item for item in data if isinstance(item, str)]

print(strings)  # Output: ['apple']

['apple']

In [100]:
# 1. IS DATA TYPE

x = 10
y = "hello"
z = [1, 2, 3]

# Check if x is an integer
if isinstance(x, int):
    print("x is an integer")
else:
    print("x is not an integer")  # This won't be printed

# Check if y is a string
if isinstance(y, str):
    print("y is a string")
else:
    print("y is not a string")  # This won't be printed

# Check if z is a list
if isinstance(z, list):
    print("z is a list")
else:
    print("z is not a list")  # This won't be printed

x is an integer
y is a string
z is a list

In [103]:
#2. Handling MIXED DATA - Different Data Types in a Function:

def process_data(data):
    if isinstance(data, int):
        print("data is an integer:", data)
    elif isinstance(data, str):
        print("data is a string:", data)
    else:
        print("data is of unknown type:", data)

process_data(10)   # Output: data is an integer: 10
process_data("hello")  # Output: data is a string: hello
process_data([1, 2, 3])  # Output: data is of unknown type: [1, 2, 3]

data is an integer: 10
data is a string: hello
data is of unknown type: [1, 2, 3]

In [108]:
# 3. Handling potential errors during data conversion:

user_data = ["123", "hello", 4.56]

# Convert strings to numbers (if possible) with error handling
numbers = []
for item in user_data:
    if not isinstance(item, str):  # Check if it's already a number (avoid conversion errors)
        numbers.append(item)
    else:
        try:
            number = float(item)  # Attempt conversion
            numbers.append(number)
        except ValueError:
            print("Error converting:", item)  # Handle conversion failures

print(numbers)  # Output: [123.0, 4.56] (assuming only "123" and "4.56" can be converted)

Error converting: hello
[123.0, 4.56]

In [107]:
# 2. Customizing behavior based on object type in a loop:

shapes = [Circle(), Square(), Triangle()]

for shape in shapes:
    if isinstance(shape, Circle):
        print("Drawing a circle")
        shape.draw()  # Call circle-specific drawing method
    elif isinstance(shape, Square):
        print("Drawing a square")
        shape.draw()  # Call square-specific drawing method
    else:
        print("Unknown shape type:", type(shape))

# Assuming Circle, Square, Triangle classes have draw() methods

NameError: name 'Circle' is not defined

In [104]:
# VALIDATING USER INPUT

user_input = input("Enter a number: ")

try:
    if not isinstance(user_input, str):  # Check if it's not a string (potential conversion error)
        raise ValueError("Input must be a number")
    number = int(user_input)  # Convert to int if valid string
    print("You entered:", number)
except ValueError as e:
    print("Error:", e)

Enter a number: 2
You entered: 2

In [105]:
# 4. Checking for Subclasses:

class Animal:
    pass

class Dog(Animal):
    pass

d = Dog()

# Check if d is an instance of Animal (including subclasses)
if isinstance(d, Animal):
    print("d is an Animal")
else:
    print("d is not an Animal")  # This won't be printed

# Check if d is specifically a Dog instance (not just Animal)
if isinstance(d, Dog):
    print("d is a Dog")
else:
    print("d is not a Dog")  # This won't be printed

d is an Animal
d is a Dog

# LAMDA generally used with

0. naked just maths
1. IF ELSE
2. MAP
3. FILTER
4. REDUCE,
5. SORTED,
6. APPLY (no apply function just use above in mix and match)



```
f¬†(function¬†obj¬†that¬†stores¬†result)¬†=¬†lambda¬†(keyword)¬†x,y:¬†(argument)¬†x/y¬†(one¬†line¬†expression¬†applied¬†on¬†argument¬†variable)

```



* lambda function with a built-in function like map() or filter(), you can perform these operations in a concise and readable way.

* LIMITATION :
            3. üìö No documentation: Lambda functions do not support docstrings, which are used to document regular functions. This can make it difficult for others to understand how the function works and how to use it.

        4. üîç Difficult to debug: Because lambda functions are anonymous and often used as arguments to other functions, it can be difficult to debug them if something goes wrong.

        5. üîí Limited scope: Lambda functions are defined within the scope of the function that creates them, which means they cannot be accessed outside of that scope.

# 1. IF ELSE in Lamda for ERROR AVOIDANCE`
 lambda -  If the second number is zero, the function should return "undefined".

In [71]:
# IF ELSE in Lamda for ERROR AVOIDANCE
divide = lambda x, y: "undefined" if y == 0 else x/y

print(divide(10, 5))   # Output: 5.0
print(divide(10, 0))   # Output: undefined

2.0
undefined

In [118]:
# another way of writing condition (using condition in bracket and add x after , ) --> (x % 2 != 0, x)
# min and max with lambda for finding the smallest/largest element (with a custom condition):
numbers = [1, 4, 2, 8, 5, 3, 6, 7]
largest_odd_number = max(numbers, key=lambda x: (x % 2 != 0, x))  # Prioritize odd numbers
print(largest_odd_number)  # Output: 7 (assuming 7 is in the original list)

7

# 2. MAP() in Lamda for ADD

In [ ]:
# MAP = 'APPLY' TO ALL
numbers=[1,2,3,4,5]
doubled_numbers = list(map(lambda i: i*2, numbers))
print(doubled_numbers)

# MAP( ) Function = MAPS LAMBDA function to all ELEMENTS OF ITERABLES

LIMITATION :


1.   üíª Limited support for non-iterable inputs: Mapping functions are designed to work with iterable inputs, such as lists or tuples. If you need to apply a transformation to a non-iterable input, such as a single value, you will need to use a different approach.
2.   üìâ Performance overhead: Mapping functions can be slower than using a for loop to iterate over an iterable and perform the transformation. This is because creating a new iterable requires allocating memory and copying the elements.
3.  üîç Limited error handling: Mapping functions can be more difficult to debug than a for loop, as they do not provide much information about errors that occur during the transformation process. For example, if a function used in a map raises an exception, it can be difficult to determine which element caused the exception.
4.  üö´ No in-place modification: Mapping functions create a new iterable with the transformed elements, rather than modifying the original iterable in place. This means that if you need to modify the original iterable, you will need to use a different approach.

In [ ]:
num5 = [1,2,3,4,5]
even_num = list(map(lambda x: x % 2 == 0, num5))
print(even_num)

[False, True, False, True, False]

In [ ]:
# A list of strings
words = ["apple", "banana", "cherry"]

# Use map() with len() to calculate lengths
lengths = list(map(len, words))

# Print the list of lengths
print(lengths)

[5, 6, 6]

In [ ]:
numbers=[1,2,3,4,5]
squared_numbers=list(map( lambda i: i**2,numbers))
squared_numbers

[1, 4, 9, 16, 25]

In [ ]:
words = ['hello', 'world', 'python', 'programming']
uppercase_words = list(map(lambda word : word.upper(), words))
uppercase_words

['HELLO', 'WORLD', 'PYTHON', 'PROGRAMMING']

# 3. FILTER( ) Function = REMOVE - FILTER out FALSE 'ELEMENTS OF ITERABLES'

In [72]:
# FILTER = 'REMOVE' FROM ALL
numbers=[1,2,3,4,5]
doubled_numbers2 = list(filter(lambda i: i%2==0, numbers))
print(doubled_numbers2)

[2, 4]

In [ ]:
num5 = [1,2,3,4,5]
even_num = list(filter(lambda x: x % 2 == 0, num5))
print(even_num)

[2, 4]

In [111]:
#filter with lambda for conditional filtering MIXED DATA:

data = [1, 'apple', 3.14, 'banana', 'grapefruit']
strings = list(filter(lambda x: isinstance(x, str), data))
print(strings)  # Output: ['apple', 'banana', 'grapefruit']

intigers = list(filter(lambda x: isinstance(x, int), data))
print(intigers)

floats = list(filter(lambda x: isinstance(x, float), data))
print(floats)

['apple', 'banana', 'grapefruit']
[1]
[3.14]

# 4. REDUCE with lambda - doesn't require output to be collected in LIST as output is 1 number

In [76]:
from functools import reduce

numbers = [1, 2, 3, 4]

# Reduce with lambda to find the product
result = reduce(lambda x, y: x * y, numbers)

print(result)  # Output: 24

24

In [114]:
# reduce with lambda for cumulative operations (use with caution):

numbers = [1, 2, 3, 4]
sum_of_squares = reduce(lambda x, y: x + y**2, numbers)
print(sum_of_squares)  # Output: 30 (assuming `reduce` is imported from `functools`)

30

# 5. SORTED with lambda

In [78]:
numbers = [3, 1, 4, 5, 2]

sorted_numbers = sorted(numbers)  # Reverse the sign for descending order

print(sorted_numbers)  # Output: [5, 4, 3, 2, 1]

# Sort the list in descending order using a lambda function
# LEARN / REMEMBER X : -X --> put the x at the 'last position' '-x' of list
sorted_reverse_numbers = sorted(numbers, key=lambda x: -x)  # Reverse the sign for descending order

print(sorted_reverse_numbers)  # Output: [5, 4, 3, 2, 1]

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [98]:
# 1. Sort a list of numbers while filtering out even numbers:


numbers = [1, 4, 2, 8, 5, 3, 6, 7]

# Sort by number (ascending order) while filtering out even numbers
sorted_odds = sorted(x for x in numbers if x % 2 != 0)  # List comprehension for filtering

print(sorted_odds)  # Output: [1, 3, 5, 7]

[1, 3, 5, 7]

In [89]:
# 2. Sort a list of strings by length (ascending order):
words = ['apple', 'banana', 'grapefruit', 'kiwi']

# Sort by string length (ascending order)
sorted_words = sorted(words, key=lambda x: len(x))

print(sorted_words)  # Output: ['kiwi', 'apple', 'grape', 'banana']

reverse_sorted_words = sorted(words, key=lambda x: len(x), reverse = True)

print(reverse_sorted_words)  # Output: ['kiwi', 'apple', 'grape', 'banana']

['kiwi', 'apple', 'banana', 'grapefruit']
['grapefruit', 'banana', 'apple', 'kiwi']

In [116]:
# sorted with lambda for custom sorting criteria:
employees = [
    {'name': 'Alice', 'age': 30},
    {'name': 'Bob', 'age': 25},
    {'name': 'Charlie', 'age': 40},
]

sorted_by_age = sorted(employees, key=lambda x: x['age'])
print([emp['name'] for emp in sorted_by_age])  # Output: ['Bob', 'Alice', 'Charlie'] (print names only)

['Bob', 'Alice', 'Charlie']

In [80]:
# 1. Sort a list of tuples by the second element (descending order):

data = [('Alice', 80), ('Bob', 75), ('Charlie', 90), ('Dave', 60)]

# Sort by the second element (grade) in descending order
# LEARN / REMEMBER X : -X[1] --> put the x at the 'last position' '-x' of list
sorted_data = sorted(data, key=lambda x: -x[1])

print(sorted_data)  # Output: [('Charlie', 90), ('Alice', 80), ('Bob', 75), ('Dave', 60)]

[('Charlie', 90), ('Alice', 80), ('Bob', 75), ('Dave', 60)]

In [96]:
# 3. Sort a list of words by their last character (case-insensitive):

words = ["hello", "world", "python", "lambda"]

# Sort by last character (case-insensitive)
sorted_words = sorted(words, key=lambda x: x[-1].lower())

print(sorted_words)  # Output: ['hello', 'lambda', 'python', 'world']

['lambda', 'world', 'python', 'hello']

In [81]:
# 3. Sort a list of mixed data types (cast strings to lowercase before sorting):
mixed_list = [10, 'apple', 3.14, 'Banana']

# Sort by lowercase string representation (numbers come first)
sorted_mixed = sorted(mixed_list, key=lambda x: str(x).lower())

print(sorted_mixed)  # Output: [3.14, 10, 'apple', 'Banana']

[10, 3.14, 'apple', 'Banana']

In [99]:
# 2. Sort a list of mixed data types with custom logic (numbers first, then strings by length):

mixed_list2 = [3.14, 'apple', 10, 'banana', 'grapefruit']

# Sort numbers first, then strings by length (ascending)
sorted_mixed = sorted(mixed_list2, key=lambda x: (not isinstance(x, str), len(x) if isinstance(x, str) else float('inf'))) #inf = infinity largest value

print(sorted_mixed)  # Output: [3.14, 10, 'apple', 'banana', 'grapefruit']

['apple', 'banana', 'grapefruit', 3.14, 10]

In [82]:
# 1. Sort a list of dictionaries by a specific key (ascending order):
products = [
    {"name": "Shirt", "price": 25.99},
    {"name": "Hat", "price": 19.50},
    {"name": "Shoes", "price": 79.99},
]

# Sort by price (ascending order)
sorted_products = sorted(products, key=lambda x: x["price"])

print(sorted_products)  # Output: [{'name': 'Hat', 'price': 19.5}, {'name': 'Shirt', 'price': 25.99}, {'name': 'Shoes', 'price': 79.99}]

[{'name': 'Hat', 'price': 19.5}, {'name': 'Shirt', 'price': 25.99}, {'name': 'Shoes', 'price': 79.99}]

In [95]:
#2a. Sort a list of custom objects by a specific attribute (descending order):

# class Employee:
#     def __init__(self, name, age):
#         self.name = name
#         self.age = age

employees = [("Alice", 30),("Bob", 25),("Charlie", 40)]

# Sort by age (descending order)
sorted_employees = sorted(employees, key=lambda x: -x[1])

print(sorted_employees)



# 2b. Sort a list by ANY custom objects created in CLASS in (any order):

class Employee:
    def __init__(self, name, age):
        self.name = name
        self.age = age

employees = [
    Employee("Alice", 30),
    Employee("Bob", 25),
    Employee("Charlie", 40),
]

# Sort by age (descending order)
reverse_sorted_employees = sorted(employees, key=lambda x: -x.age)

print([emp.name for emp in reverse_sorted_employees])

# Sort by age (ascending order)
reverse_sorted_employees = sorted(employees, key=lambda x: x.age)

print([emp.name for emp in reverse_sorted_employees])

[('Charlie', 40), ('Alice', 30), ('Bob', 25)]
['Charlie', 'Alice', 'Bob']
['Bob', 'Alice', 'Charlie']

# 6. APPLY with Lambda - no direct apply function but have misc function MIN MAX etc.

In [127]:
#getting the second highest , 3rd highest number using a lambda function in Python:

numbers = [5, 10, 4, 2, 7, 8, 1]

# Option 1: Using sorted and lambda for removing the maximum

highest = max(numbers)
second_highest = max(number for number in numbers if number != highest)

print(second_highest)  # Output: 8

# 3rd Highest: Using sorted with custom key and slicing

sorted_numbers = sorted(numbers, reverse=True)  # Sort in descending order
second_highest2 = sorted_numbers[2] if len(sorted_numbers) >= 2 else None

print(second_highest2)  # Output: 8 (or None if less than 2 elements)

8
7

In [117]:
# min and max with lambda for finding the smallest/largest element (with a custom condition):
numbers = [1, 4, 2, 8, 5, 3, 6, 7]
largest_odd_number = max(numbers, key=lambda x: (x % 2 != 0, x))  # Prioritize odd numbers
print(largest_odd_number)  # Output: 7 (assuming 7 is in the original list)

7

In [124]:
#User-defined function with lambda as an argument (higher-order function):

def calculate_area(shape, side_lambda):
    if shape == 'square':
        return side_lambda()**2
    elif shape == 'circle':
        return 3.14 * side_lambda()**2
    else:
        raise ValueError("Unsupported shape")

area_of_square = calculate_area('square', lambda: 5)
print(area_of_square)  # Output: 25

area_of_circle = calculate_area('circle', lambda: 3)
print(area_of_circle)  # Output: 28.26

25
28.26

# LIST COMPREHENSION -

# new_list = [expression FOR variable IN iterable]

#new_list = [OUTPUT expression (GIVE * FROM X TABLE) FOR item IN range/iterable LIST (WHERE) IF condition]
# similar to SQL SYNTAX

In [ ]:
square2 = [i ** 2 for i in range(1,10) ]
print(square2)

square1_IF = [i ** 2 for i in range(1,10) if i % 2 == 0 ]
print(square1)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[4, 16, 36, 64]

In [142]:
my_string = "how r you"
k = [i for i in my_string if i not in "aeiou"]
print(k)

['h', 'w', ' ', 'r', ' ', 'y']

In [3]:
vowels = [char for char in "hello world" if char in "aeiou"]
print(vowels)

['e', 'o', 'o']

In [115]:
# List comprehension with lambda for concise transformations:
words = ['hello', 'world', 'python']
uppercased_words = [word.upper() for word in words]
print(uppercased_words)  # Output: ['HELLO', 'WORLD', 'PYTHON']

['HELLO', 'WORLD', 'PYTHON']

In [4]:
string1 = "hello"
string2 = "world"
common_chars = [char for char in string1 for char2 in string2 if char == char2]
print(common_chars)

['l', 'l', 'o']

In [7]:
string3 = [1,1,1,2,3,4,5,6,7,8,9,10,10,10]
string4 = [6,7,8,9,10]
all_common_chars2 = [char for char in string3 for char2 in string4 if char == char2]
print(all_common_chars2)

[6, 7, 8, 9, 10, 10, 10]

In [145]:
my_string = "hello world"
k = [(i.upper(), len(i)) for i in my_string]
print(k)

[('H', 1), ('E', 1), ('L', 1), ('L', 1), ('O', 1), (' ', 1), ('W', 1), ('O', 1), ('R', 1), ('L', 1), ('D', 1)]

# Nested List Comprehension = PERMUTATION & COMBINATION  - create more complex structures

In [144]:
print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [143]:
print([[i+j for i in "abc"] for j in "def"])

[['ad', 'bd', 'cd'], ['ae', 'be', 'ce'], ['af', 'bf', 'cf']]

In [ ]:
#  list of all pairs of numbers where the first number is even and the second number is odd..
# result is a list of tuples, each containing an even number and an odd number.

pairs = [(i, j) for i in range(1, 6) if i % 2 == 0 for j in range(1, 6) if j % 2 == 1]
print(pairs)

[(2, 1), (2, 3), (2, 5), (4, 1), (4, 3), (4, 5)]

In [11]:
books = [('fiction', 20), ('history', 9) ,('history', 15), ('biography', 5), ('mystery', 10), ('science', 8), ('fiction', 15), ('history', 10)]

# Using set comprehension to create a set of book categories with at least 10 books in stock

morethanten_categories = [i for i, j in books if j >= 10]

print(morethanten_categories)

['fiction', 'history', 'mystery', 'fiction', 'history']

# SET COMPREHENSION
* one or more set comprehensions inside another set comprehension. This allows you to create sets within sets, resulting in a nested data structure
* used with any data type, not just numerical data. They can be applied to strings, tuples, dictionaries, or any other data type that supports iteration.

In [140]:
s = {x.upper() for x in {'Apple', 'Banana', 'Cherry'}}
print(s)

{'BANANA', 'APPLE', 'CHERRY'}

In [ ]:
# new_set = {expression FOR item IN iterable IF condition}

unique_vowels = set()
for char in "hello world":
    if char in "aeiou":
        unique_vowels.add(char)
print(unique_vowels)

unique_vowels2 = {char for char in "hello world" if char in "aeiou"}
print(unique_vowels2)

{'o', 'e'}
{'o', 'e'}

In [5]:
# Nested Set Comprehension

string1 = "hello"
string2 = "world"
unique_chars = {char for char in string1 for char2 in string2 if char == char2}
print(unique_chars)

string3 = {1,2,3,4,5,6,7,8,9,10}
string4 = {6,7,8,9,10}
unique_chars2 = {char for char in string3 for char2 in string4 if char == char2}
print(unique_chars2)

{'l', 'o'}
{6, 7, 8, 9, 10}

In [10]:
books = [('fiction', 20), ('history', 9) ,('history', 15), ('biography', 5), ('mystery', 10), ('science', 8), ('fiction', 15), ('history', 10)]

# Using set comprehension to create a set of book categories with at least 10 books in stock

unique_morethanten_categories = {i for i, j in books if j >= 10}

print(unique_morethanten_categories)

{'fiction', 'history', 'mystery'}

# 3. Dictionary Comprehension - {x: x2 for x in range(10)}
* create a new dictionary by specifying a set of key-value pairs and an optional condition, all in a single line of code.
* {key_expression: Output value_expression for item in iterable if condition}


```
key_expression: This is the expression that generates the keys of the dictionary.

value_expression: This is the expression that generates the values of the dictionary.

item: This is the variable that represents each item in the iterable (e.g., list, tuple, set, etc.).

iterable: This is the collection of items that the dictionary comprehension iterates over.

condition: This is an optional expression that filters the items in the iterable based on a certain condition.
```

In [17]:
# create a dictionary where the keys are the names and the values are the lengths of the names
names = ['Alice', 'Bob', 'Charlie', 'Dave']
dict2 = {i : len(i) for i in names} # use ' : ' instead of ' = ' for creating dictionary j element.
dict2

{'Alice': 5, 'Bob': 3, 'Charlie': 7, 'Dave': 4}

In [25]:
# iterable based on a certain condition.

# new dictionary that only includes students who received a passing grade (i.e., grade >= 60)

grades = {'Alice': 80, 'Bob': 55, 'Charlie': 75, 'Dave': 90}

passing_grades = {}
for name, grade in grades.items():  # Use items() for key-value pairs
    if grade >= 60:
        passing_grades[name] = grade
print(passing_grades)

#way of capturing output is different
# instead of creating empty dictionary and putting output in it, we create filled output & write 'dict output syntax at beginning'
passing_grades2 = {name: grade for name, grade in grades.items() if grade >= 60}
print(passing_grades2)

{'Alice': 80, 'Charlie': 75, 'Dave': 90}
{'Alice': 80, 'Charlie': 75, 'Dave': 90}

In [26]:
people = {'Alice': 25, 'Bob': 17, 'Charlie': 20, 'David': 30, 'Eve': 16}

# Using dictionary comprehension to filter names of people who are over 18 years old
adults = {name: age for name, age in people.items() if age > 18}

print(adults)

{'Alice': 25, 'Charlie': 20, 'David': 30}

In [28]:
y={x: x**2 for x in range(5)}
y

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [29]:
y = {x: x**2 for x in [1, 2, 3, 4, 5]}
y

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [30]:
y = {x: x**2 for x in [1, 2, 3, 4, 5] if x % 2 == 0}
y

{2: 4, 4: 16}

In [33]:
y = {x, x**2 for x in range(5)} # not put , but :
y

SyntaxError: did you forget parentheses around the comprehension target? (<ipython-input-33-b58154627339>, line 1)

In [35]:
y = {x: x2 for x in range(1, 5)}
y

NameError: name 'x2' is not defined

In [40]:
new_dict = {x: x**2 for x in [1, 2, 3, 4, 5] if x < 3, y: y*3 for y in range(3)}
new_dict

SyntaxError: invalid syntax (<ipython-input-40-500ca917c88a>, line 1)

In [50]:
#Union of 2 dict take value from 2nd dictionary which have common key
new_dict = {y: y*0 for y in range(5)} | {x: x**2 for x in range(7) if x >= 3}
new_dict

{0: 0, 1: 0, 2: 0, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
y = {x: x**2 for x in range(5) if x % 2 == 0 else x**3} # CAN'T GIVE 'ELSE' IN DICTIONARY COMPREHENSION at END
print(y)

In [55]:
# 2 CONDITION = CAN USE 'ELSE' IN DICTIONARY COMPREHENSION at BEGINNING LIKE - LIST COMPREHENSION
result = {x: x**2 if x % 2 == 0 else x**3 for x in range(5)}
print(result)

{0: 0, 1: 1, 2: 4, 3: 27, 4: 16}

In [56]:
# 2 CONDITION = CAN USE 'ELSE' IN LIST COMPREHENSION at BEGINNING
# BUT 'NOT' AT THE END WITH 'END IF'
result = [x*10 if x % 2 == 0 else x*100 for x in range(5)]
print(result)

[0, 100, 20, 300, 40]

In [62]:
z = {x: x*100 for x in [1, 2, 3, 4, 5] for y in range(8)} # 'for y in range(8)' doesn't gets executed since no : defined but doesn't throw error
z

{1: 100, 2: 200, 3: 300, 4: 400, 5: 500}

#### **Generator Expressions:**

  - Generator expressions are similar to list comprehensions, but they generate values on-the-fly rather than creating a new list. This makes them memory-efficient when dealing with large datasets. They are denoted by parentheses instead of square brackets.

In [68]:
# GET OUTPUT 1 BY 1 WITH HELP OF 'NEXT' ON 'LIST COMPREHENSION'
numbers = [1, 2, 3, 4, 5]
squared_numbers = (num**2 for num in numbers)

print(next(squared_numbers))  # Output: 1
print(next(squared_numbers))  # Output: 4

print(list(squared_numbers))

1
4
[9, 16, 25]

#### **Enumerate Function:**

  - The "enumerate()" function is a powerful tool that simplifies looping over iterable objects, such as lists or strings. It returns a tuple containing the index and the corresponding value for each element in the sequence. This allows you to access both the index and the element during iteration, making code more concise and readable.

In [ ]:
fruits = ['apple', 'banana', 'orange']
for index, fruit in enumerate(fruits):
    print(f"{index} {fruit}")

0 apple
1 banana
2 orange

In [119]:
# enumerate with lambda for processing elements with their index:
data = ['apple', 'banana', 'cherry']
indexed_data = list(enumerate(data, start=1))  # Start index at 1
print(indexed_data)  # Output: [(1, 'apple'), (2, 'banana'), (3, 'cherry')]

[(1, 'apple'), (2, 'banana'), (3, 'cherry')]

#### **Zip Function:**

  - The "zip()" function is used to combine multiple iterables into a single iterable of tuples. It pairs elements from different sequences based on their index. This is particularly useful when you want to loop through multiple lists or strings simultaneously.

In [70]:
names = ['Alice', 'Bob', 'Charlie']
scores = [85, 92, 78]
for name, score in zip(names, scores):
    print(f"{name} {score}")

Alice 85
Bob 92
Charlie 78

In [123]:
#zip with lambda for combining elements from multiple iterables (with a conditional filter):
names = ['Alice', 'Bob', 'Charlie']
ages = [30, 25, 40]

filtered_pairs = list(zip(names, filter(lambda x: x > 28, ages)))
print(filtered_pairs)

[('Alice', 30), ('Bob', 40)]

# problems



```
When we work on Data Science projects, we start with Data Cleaning i.e removing all rows where the features have NA/None values. This is done to achieve maximum accuracy from our prediction models. So,

write a Python program to remove None value from a given list. (Using list comprehension)

Example 1:
Input:
[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]

Output:
[12, 0, 23, -55, 234, 89, 0, 6, -12]

nums = eval(input())
```

In [130]:
nums = [12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]


# Remove None values using list comprehension
cleaned_nums = [num for num in nums if num is not None]

print(cleaned_nums)

[12, 0, 23, -55, 234, 89, 0, 6, -12]

Mr. Alberto wants to remove some numbers from the list of numbers to test his equation for numerical research. So, write a Python program to help him to remove all elements from a given list present in another list. (Using list comprehension)

Example 1:
Input:
[1,2,3,4,5,6,7,8,9,10]

[2,4,6,8]

Output:
[1, 3, 5, 7, 9, 10]

In [137]:
list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = [2,4,6,8]

list3 = [x for x in list1 if x not in list2 ]
print(list3)

[1, 3, 5, 7, 9, 10]

Count the Characters

Write a Python program to count the number of characters (character frequency) in a string.

Example 1:
Input:
google.com

Output:
{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

Example 2:
Input:
AlmaBetter

Output:
{'a': 2, 'l': 1, 'm': 1, 'b': 1, 'e': 2, 't': 2, 'r': 1}

In [138]:
input1= "google.com"

def count_characters(text):
  """Counts the frequency of characters in a string.

  Args:
      text: The string to count characters in.

  Returns:
      A dictionary where keys are characters and values are their counts.
  """

  char_counts = {}
  for char in text:
    if char not in char_counts:
      char_counts[char] = 0
    char_counts[char] += 1
  return char_counts


text1 = "google.com"
char_counts1 = count_characters(text1)
print(char_counts1)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [139]:
def char_frequency(text):
  """Counts the frequency of characters in a string using dictionary comprehension.

  Args:
      text: The string to analyze.

  Returns:
      A dictionary where keys are characters and values are their frequencies.
  """

  return {char: text.count(char) for char in text if char.isalpha()}  # Count only alphabets

# Example 1
text1 = "google.com"
char_count1 = char_frequency(text1)
print(char_count1)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, 'c': 1, 'm': 1}