<a href="https://colab.research.google.com/github/LokeCoder11/KnowledgeReference/blob/main/Wk7OOPS_Concept%26ErrorHandling19th_Mar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CUSTOM FUNCTION - for reusing FUNCTION -
# The data passed to a custom function when it is called are called __. = ARGUMENTS
* created with 'def'
*  In Python, it is possible to define one function inside another function. These are known as nested functions. The inner function can only be called from within the outer function.
* Custom functions in Python can be defined in one Python file and called from other Python files as long as they are in the same directory or accessible through the Python path.


```
def show(par, *arg, **kwarg):
    """Combination of different types of parameters"""
    print(par,arg,kwarg)
You can call the above function like this show(1,2,34,5,a='x',b='y',c='z') that print 1 (2,34,5) {‘a’:’x’,’b’:’y’,’c’:’z’} but if you try to call above function like this: show(par=1,2,34,5,a=’x’,b=’y’,c=’z’) that gives you exception. To resolve this you should declare function like this:

Example-11:

def f(*arg,par, **kwarg):
    """Perfect way of passing mixed arguments"""
     print(arg, par, kwarg)
```

In [ ]:
def function_name(PARAMETERS :"PARAMETER HINTS SHIFT+TAB" = "Default Parameter Value"):
  """
  Docstring

  """

    # FUNCTION CODE goes here
  return output_value

#Parameters: These are the input values that the function will take.
      # They are optional, and you can have as many or as few as you need.

#Parameter Hints : Pressing "Shift+Tab" while calling a function
      # will display the parameter hints that were initially defined.

# Function code : any valid Python code.

# Return: This keyword indicates the value that the function will return.
      # This is also optional, and you can have 'multiple return' statements
      # in a function.



```
In a job interview, Mihir was asked to find count of all contiguous substrings starting and ending with same character, for a given string S. After an interview, he wrote the recursive python program to check the answer.

So, let's practice the same, and write a recursive python function.

Example 1:
Input:
abcab

Output:
7

Explanation:
There are 15 substrings of "abcab" a, ab, abc, abca, abcab, b, bc, bca bcab, c, ca, cab, a, ab, b

Out of the above substrings, there are 7 substrings : a, abca, b, bcab, c, a and b.

Example 2:
Input:
aba

Output:
4

Explanation:
The substrings are a, b, a and aba
```

In [ ]:
# nested def

def cube(x):
    return x * x * x

def add_and_cube(a, b):
    c = a + b
    return cube(c)

print(add_and_cube(2, 3))

125

In [ ]:
def count_substrings(s):
  """
  This function counts the number of contiguous substrings starting and ending with the same character in a string.

  Args:
      s: The input string.

  Returns:
      The number of contiguous substrings.
  """
  if len(s) <= 1:
    return 1  # Base case: single character or empty string

  count = 0
  for i in range(len(s)):
    # Check if the first and last characters are the same
    if s[i] == s[0]:
      # Recursively call the function for the substring starting from the next character
      count += count_substrings(s[i+1:])

  # Add 1 to count the current character itself (if it's unique)
  return count + 1

# Example usage
s = "aba"
result = count_substrings(s)
print(result)  # Output: 7

4

Write a Python function to find the Max of three numbers.

Example 1:
Input:
-10 -20 -30

Output:
-10

In [ ]:
#Using the built-in max function This is the most concise and efficient approach:
def find_max(num1, num2, num3):
  """
  This function finds the maximum of three numbers using the built-in max function.

  Args:
      num1: The first number.
      num2: The second number.
      num3: The third number.

  Returns:
      The maximum of the three numbers.
  """

  return max(num1, num2, num3)

# Example usage
a = -10
b = -20
c = -30
maximum = find_max(a, b, c)
print(maximum)  # Output: -10

-10

In [ ]:
def find_max(num1, num2, num3):
  """
  This function finds the maximum of three numbers using conditional statements.

  Args:
      num1: The first number.
      num2: The second number.
      num3: The third number.

  Returns:
      The maximum of the three numbers.
  """

  # Compare the numbers and return the largest one
  if num1 >= num2 and num1 >= num3:
    return num1
  elif num2 >= num1 and num2 >= num3:
    return num2
  else:
    return num3


# Example usage
a = -10
b = -20
c = -30
maximum = find_max(a, b, c)
print(maximum)  # Output: -10

-10

Write a Python program to find the string consisting of all the words whose lengths are prime numbers.

Example 1:
Input:
The quick brown fox jumps over the lazy dog.

Output:
The quick brown fox jumps the

In [ ]:
def is_prime(num):
  """
  This function checks if a number is prime.

  Args:
      num: The number to check.

  Returns:
      True if the number is prime, False otherwise.
  """
  if num <= 1:
    return False
  for i in range(2, int(num**0.5) + 1):
    if num % i == 0:
      return False
  return True

def find_prime_words(sentence):
  """
  This function finds the string consisting of words with prime length from a sentence.

  Args:
      sentence: The input sentence.

  Returns:
      The string containing words with prime length.
  """
  prime_words = ""
  for word in sentence.split():
    if is_prime(len(word)):
      prime_words += word + " "
  return prime_words.strip()

# Example usage
sentence = "The quick brown fox jumps over the lazy dog."
prime_word_string = find_prime_words(sentence)
print(prime_word_string)  # Output: The quick brown fox jumps the

The quick brown fox jumps the

In [ ]:
def calculate_sales(monday_sales=0, tuesday_sales=0, wednesday_sales=0, thursday_sales=0, friday_sales=0, saturday_sales=0, sunday_sales=0):
    """
    Calculates the total sales for a given week by adding up the
    sales for each day of the week.

    Args:
        monday_sales (float): Sales figure for Monday.
        tuesday_sales (float): Sales figure for Tuesday.
        wednesday_sales (float): Sales figure for Wednesday.
        thursday_sales (float): Sales figure for Thursday.
        friday_sales (float): Sales figure for Friday.
        saturday_sales (float): Sales figure for Saturday.
        sunday_sales (float): Sales figure for Sunday.

    Returns:
        float: The total sales for the week.
    """
    # Sum up the sales figures for each day of the week
    total_sales = monday_sales + tuesday_sales + wednesday_sales + thursday_sales + friday_sales + saturday_sales + sunday_sales

    # Return the total sales
    return total_sales

# USE CASE

total_sales1 = calculate_sales(monday_sales = 100, tuesday_sales = 200, wednesday_sales=150, thursday_sales=300, friday_sales=250, saturday_sales=180, sunday_sales=150)
print(total_sales1)

1330

In [ ]:
dict1 = {'a':1, 'b':2, 'c':3, 'b':7, 'c':9}
#define how each iteration stored in dict, 0 defines start value, '+1' defines value for each orrurance
letter_count1 = dict1.get('b',0) # get = gets 'last' value of the 'key'
letter_count2 = dict1.get('b',0)+5 # 0 is default empty value & +5 defines value to
# latest occurance of character but if counted in loop 'each occurance' gets that '+5' value extra
print(letter_count1)
print(letter_count2)

7
12

In [ ]:
# Write a program which would
# calculate the count of each
# unique characters in a words and returns an appropriate
# dictionary. Use a custom function to achieve this.
def count_letters(word):

    letter_count = {} #initialize empty dict
    for letter in word:
        if letter.isalpha():
            letter = letter.lower()
            #define how each iteration stored in dict, 0 defines start value, '+1' defines value for each orrurance
            letter_count[letter] = letter_count.get(letter, 0) +1

    return letter_count

# Try out here
word = "Any Bny Cany"
result = count_letters(word)
print(result)

{'a': 2, 'n': 3, 'y': 3, 'b': 1, 'c': 1}

In [ ]:

global_var = 10                      # Defining a global variable

def modify_global_var():
    """
    Modifies the global variable by adding 5 to its current value.
    """
    # Accessing the global variable
    global global_var


    global_var += 5                 # Modifying the global variable

def use_local_var():
    """
    Prints the value of a local variable.
    """

    local_var = 20                  # Defining a local variable

    # Printing the value of the local variable
    print("Local variable value: ", local_var)

# Calling the functions

# Modifying the global variable using the modify_global_var function
modify_global_var()

# Printing the new value of the global variable
print("Global variable value: ", global_var)

# Using the use_local_var function to print the value of a local variable
use_local_var()

Global variable value:  15
Local variable value:  20

In [ ]:
# Write a function which takes a string arguments and returns the reversed string to the user.

# my_string = "Hello, world!"

def reverse_string(string_input):

    reversed_string = string_input[-1::-1]
    return reversed_string

# Try out here
input_string = "Hello, World!"
reversed_string1 = reverse_string(input_string)
print(reversed_string1)

!dlroW ,olleH

In [ ]:
def calculate_area(radius):
   return 3.14 * radius ** 2

x = calculate_area(2)
print(x)

12.56

In [ ]:
def calculate_perimeter(length, width):
   return 2 * (length + width)
x = calculate_perimeter(3,2)
print(x)

10

In [ ]:
def calculate_area(length, width):
   return length * width
x = calculate_area(3,2)
print(x)

6

In [ ]:
def greet(name):
   print("Hello, " + name + "! How are you?") # bracket after print, no bracket after return
   # def works with print instead of return (if string output)
x = greet("Lok")
print(x)

Hello, Lok! How are you?
None

In [ ]:
def greet2(name,age):
  return "Hello, " + name + "! You are " + age + " years old."
x = greet2 ("Lok", "8") #number inputed as string since output string takes string input
# when concatenating the strings to create the greeting message, the "age" parameter is
# used without converting it to a string. To fix the error, the "age" parameter
# should be converted to a string using str(age) before concatenation.
y = greet2 ("Hrid", str(10))

print(x)
print(y)

Hello, Lok! You are 8 years old.
Hello, Hrid! You are 10 years old.

In [ ]:
  # Try out here


def grading_system(stud_ans, ans_key):

  grad = 0

  for i, j in zip(stud_ans, ans_key):
    if i == j:
      grad += 1
    else:
      grad += 0

  return grad



# Here are the student's answers
student_answers = ["A", "C", "A", "D", "E", "F", "G"]
# Here is the answer key
answer_key = ["A", "B", "C", "D", "E", "F", "G"]

x = grading_system(student_answers, answer_key)
print(x)

5

2. **Write a function that takes a list of integers as input and returns the sum of the squares of the even numbers in the list.**

In [ ]:
def sum_of_even_no_sq(list1):
  total1 = 0

  for i in list1:
    if i  % 2 == 0:
      total1 = total1 + (i ** 2)
  return total1

list2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(sum_of_even_no_sq(list2))

220

3. **Write a function that takes a string as input and returns a new string with all vowels removed.**

In [ ]:
def removed_vowel_string(string1):
  new_string1 = ''
  for i in string1:
    if i not in 'aeiouAEIOU':
      new_string1 = new_string1 + i
  return new_string1

string2 = "Hello, World!"
print(removed_vowel_string(string2))

Hll, Wrld!

4. **Write a function that takes a list of strings as input and returns a new list with all strings in uppercase.**

In [ ]:
def change_upper_in_list(list3):

  list4 = []

  for i in list3:
    list4.append(i.upper())
  return list4

list5 = ["apple", "banana", "cherry", "date"]
print(change_upper_in_list(list5))

['APPLE', 'BANANA', 'CHERRY', 'DATE']

5. **Write a function that takes a dictionary as input and returns a new dictionary with the same keys but with all values squared.**

In [ ]:
def dict_value_sq(dict1):
  new_dict2 = {}

  for i,j in dict1.items():
    new_dict2[i] = j ** 2
  return new_dict2

dict3 = {'a' : 2, 'b' : 3, 'c' : 4}

print(dict_value_sq(dict3))

{'a': 4, 'b': 9, 'c': 16}

In [ ]:
def reverse_string(string):
    """
    Return a reversed version of the input string.
    """
    reversed_string = ""
    for i in range(len(string)-1, -1, -1):  # Loop over the string in reverse order
        reversed_string += string[i]  # Add each character to the reversed string
    return reversed_string


my_string = "Hello, World!"
reversed_string = reverse_string(my_string)
print(reversed_string)

!dlroW ,olleH

# 'default parameters' - 'after non-default parameters'
* Python assigns values to parameters based on their position in the argument list.

In [ ]:
# This is not allowed, since non-default parameter follows default parameter
def my_function(y=10, x):
  return x+y
    # do something with x and y

my_function(12)

SyntaxError: non-default argument follows default argument (<ipython-input-38-dd56f865b7ac>, line 2)

In [ ]:
# This is not allowed, since non-default parameter follows default parameter
def my_function(x, y=10):
  return x+y
    # do something with x and y

my_function(20)

30

In [ ]:
# function to calculate calories burned. Users input workout duration and activity type
#  function that uses a while loop to calculate calories burned.
# Running- Burns 10 calories per minute Swimming- Burns 8 calories per minute Cycling- Burn 6 calories per minute
def calculate_calories_burned(duration_mins, activity):

    calories_burned = 0
    while duration_mins > 0:
        if activity.lower() == "running":
            calories_burned += 10
        elif activity.lower() == "swimming":
            calories_burned += 8
        elif activity.lower() == "cycling":
            calories_burned += 6
        duration_mins -= 1

    return f"You burned {calories_burned} calories during the {activity} workout."

# Test the function
calculate_calories_burned(duration_mins=20, activity="running")

'You burned 200 calories during the running workout.'

In [ ]:
# PROBLEM WITH DICTIONARY

def calculate_books_to_order(books):
    books_to_order = {}
    for title, stock in books.items():
        if stock < 10:
            books_to_order[title] = 10 - stock
    return books_to_order

# Input - list of books and their current stock
books = {
    "Harry Potter": 10,
    "Lord of the Rings": 5,
    "Game of Thrones": 2,
    "The Hunger Games": 8,
    "To Kill a Mockingbird": 4
}

# Calculate quantity of books to order
books_to_order = calculate_books_to_order(books)

# Output - dictionary of title and number of books to order
print(books_to_order)

{'Lord of the Rings': 5, 'Game of Thrones': 8, 'The Hunger Games': 2, 'To Kill a Mockingbird': 6}

##**Recursion 🔃🔃🔃**

* Recursion - solve problems that can be broken down into smaller, similar problems.

* In a recursive function, the function is called with a parameter that is gradually reduced or changed until it reaches a

* 🧱 base case that can be directly solved. The base case is the simplest possible case that the function can solve without calling itself.

* solve problems like searching through a list, or finding the factorial of a number 🧮.

Here's an example:

In [ ]:
def factorial(n=0):
    """
    Calculates the factorial of a non-negative integer.

    Args:
        n (int): A non-negative integer to calculate the factorial of.

    Returns:
        int: The factorial of the input integer.
    """
    # Base case: if n is 0, the factorial is 1
    if n == 0:
        return 1
    # Recursive case: multiply n by the factorial of n-1
    else:
        return n * factorial(n-1)

x = factorial(4)
print(x)

print(factorial(5)) #directly print function

24
120

if we call factorial(4), it will first return 4 * factorial(3), which will in turn return 4 * 3 * factorial(2), and so on, until it reaches factorial(0) which will return 1. Then the previous function calls will be resolved as shown below:


factorial(4) = 4 * factorial(3) = 4 * 3 * factorial(2) = 4 * 3 * 2 * factorial(1) = 4 * 3 * 2 * 1 * factorial(0) = 4 * 3 * 2 * 1 * 1 = 24

# OOPS : Object Oriented Programming - powerful tool for building complex applications - from web development to data analysis and scientific computing.software applications, games, or large-scale systems, embracing OOP in Python is the gateway to taking your programming skills to extraordinary heights.  Advantage:

* Think of objects as real-world entities that have attributes and behaviors. For example, a car is an object that has attributes like make, model, and color, and behaviors like accelerating, braking, and turning.
*  consider a class called Car. This class can have attributes like make, model, and color, and methods like accelerate(), brake(), and turn(). When we create an object of this class, say a Toyota Camry, we can set its attributes to make='Toyota', model='Camry', and color='Red'. We can then call its methods, such as accelerate() to make it go faster, or brake() to slow it down.

**The main concept of OOPs is to bind the data and the functions that work on that together as a single unit.**

1.   code reuse - easier to understand. power of 'inheritance' to create
* class hierarchies and
* foster code reuse
* scale easily
2.   Maintain easily with modularity & abstraction - organize your code into logical units, making it easier to read, write, and maintain.
3.   encapsulation - security
4.   Mirror Reality - mirror real-world entities in your code, unlocking unparalleled flexibility and readability.
5. polymorphism to design, to create:
* 'flexible' and
* 'adaptable' programs.
5. Focus: Custom Functions, Advanced Looping Concepts, OOPs, and Exception Handling
6. Pre-requisites: Python Control Flow


# Class : class is a blueprint for creating objects, which are instances of the class. To define a class using the 'class' keyword, and
```
create 1. 'objects' from that class using the 'constructor method :
__init__()
You can also define 2. 'methods' and 3.'attributes' within the class.
```
# Objects : objects, are 'instances' of the 'class'.
Each object has its own set of :
1.   Attributes
2.   Methods that define its behavior

# 1. Attributes : Attributes are variables that hold data
# 2. Methods : Methods are functions that perform operations on the Attribute's Data.
# variables : 2 types: 1. Class, 2. Instance

# Constructors and self
# Encapsulation
# Inheritance : super().__init__()
# Polymorphism
# Data Abstraction

![oopoo.jpg]()

In [ ]:
# OOPS : Object Oriented Programming
# Class : class is a blueprint for creating objects, which are instances of the class.
# Objects : objects, are instances of the class. Each object has its own set of :
           # 1. attributes and 2. methods that define its behavior.
# Attributes : Attributes are variables that hold data
# Methods : Methods are functions that perform operations on the Attribute's Data.
# variables : 2 types: 1. Class, 2. Instance
# Constructors and self

# Encapsulation
# Inheritance : super().__init__()
# Polymorphism
# Data Abstraction

In [ ]:
# Real world Use case of Class : Categorizing the functions to manage it effectively.
# 1000s Function: Categorise it : using class
# 10 function for getting the data from database : Class
# 10-15 functions for cleaning data : Class
# 10-15 functions for charts and visualisation : Class

In [ ]:
# *def* to *define function* : def is a keyword
# *class* to *define the class* : *class* is a *keyword*

# 1.CLASS(COMMON NOUN)
* class is a blueprint for creating objects. It defines a set of attributes and methods that objects of that class will have. A class can be thought of as a template or a blueprint, and an object can be thought of as an instance of that class.

* **To** define a class in Python, we use the class keyword followed by the name of the class.

# 2.OBJECTS(PROPER NOUN)

An object is an instance of a class. We create objects by calling the class as if it were a function, passing in any necessary arguments. Here's an example:
```
person = Person()
```
In this example, we've created an object of the Person class called person. This object doesn't have any attributes or methods yet because we haven't defined them in the class.

---

# 3.**ATTRIBUTES**(ADJECTIVE) - like Attribute of person - Name & Age

* Attributes are variables that hold information about an object. In Python, attributes are defined inside the class definition.

* We've also defined a constructor method called __ init__() that takes two arguments, name and age. Inside the constructor,

* we use the self = 'shelf' ( to keep things) keyword to lable shelf and refer to the object being created and set 'shelf lable' - 1. name and 2. age attributes to the corresponding arguments.

* We can now create an object of the Person class and set its attributes:

Here's an example:
```
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
```

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

person = Person("John", 30)
print(person.name) # We can access these attributes using ' dot notation ' (object.attribute).
print(person.age) # We can access these attributes using dot notation (object.attribute).

John
30

# 4.METHODS(VERB)

* used to perform operations on the attributes of the object or to return information about the object.
*  method in Python is a function defined within a class, and it can access and operate on the attributes specific to that class.
* Methods need to be called on instances of a class, not directly on the class itself. They operate on the data associated with the particular instance.
* Methods use the self keyword to access and modify attributes of the class. self refers to the instance of the class on which the method is called.
* Methods can have parameters just like regular functions, allowing them to accept input data for processing within the class.
* The init method is a special method known as the constructor. It is automatically called when a new instance of the class is created, allowing you to set up the initial state of the object.
* Python provides a built-in classmethod decorator to define class methods that operate on the class itself, rather than on instances. Class methods receive the class as their first argument (conventionally named cls) instead of self.

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def greet(self):
        print("Hello, my name is", self.name)
# method called greet(). The method takes no arguments and prints a greeting
# message that includes the object's name attribute.
# We can now call the greet() method on an object of the Person class:

person = Person("John", 30)
person.greet()

Hello, my name is John

In [ ]:
class Car:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        self.is_engine_on = False

    def start_engine(self):
        self.is_engine_on = True

    def stop_engine(self):
        self.is_engine_on = False

    def display_info(self):
        print(f"Make: {self.make}")
        print(f"Model: {self.model}")
        print(f"Year: {self.year}")
        print(f"Engine Status: {'On' if self.is_engine_on else 'Off'}")

# Creating objects (instances) of the Car class
car1 = Car("Toyota", "Corolla", 2022)
car2 = Car("Honda", "Civic", 2023)

# Example of using attributes and methods
car1.start_engine()
car1.display_info()
car2.display_info()

**Question 1:**
In the given Python code, what does the class Car represent?
* 1: The class Car represents a blueprint or template for creating car objects. It defines the common properties (attributes) and behaviors (methods) that all car objects will have.

**Question 2:**
What are the attributes defined in the Car class?
* 2: The attributes defined in the Car class are make, model, year, and is_engine_on.

**Question 3:**
What is the purpose of the __init__ method in the Car class?
* init = constructor method is a special method.
* It is automatically CREATED when a new instance of the Car class is created.
* It initializes the attributes of the object with the provided values.

**Question 4:**
What does the method start_engine do?
* 4: The method start_engine sets the attribute is_engine_on to True, indicating that the car's engine is turned on.

**Question 5:**
How can we create multiple instances (objects) of the Car class with different make, model, and year?
* We can create multiple instances of the Car class by calling the class and passing different values for the make, model, and year attributes. For example, car1 = Car("Toyota", "Corolla", 2022) and car2 = Car("Honda", "Civic", 2023) create two instances of the Car class with different attributes.


**Question 6:**
What is the significance of the self keyword used in the methods of the Car class?
* The self keyword refers to the instance of the class itself. It allows the
* methods of the class to access and modify the attributes specific to that instance.
* When calling a method of a class, Python automatically
* passes the instance as the
* first argument (self), allowing the method to work with the object's data.

In [ ]:
# CALCULATOR CLASS

class Calculator:
    # Define the constructor method to initialize the class and set the initial result to 0
    def __init__(self):
        self.result = 0

    # Define a method to add num1 to num2 and store the result
    def add(self, num1, num2):
        self.result = num1 + num2
        return self.result

    # Define a method to subtract num2 from num1 and store the result
    def subtract(self, num1, num2):
        self.result = num1 - num2
        return self.result

    # Define a method to multiply num1 by num2 and store the result
    def multiply(self, num1, num2):
        self.result = num1 * num2
        return self.result

    # Define a method to divide num1 by num2 and store the result. Raise a ValueError if dividing by 0.
    def divide(self, num1, num2):
        if num2 == 0:
            raise ValueError("Cannot divide by zero.")
        self.result = num1 / num2
        return self.result

    # Define a method to clear the result back to 0
    def clear(self):
        self.result = 0
        return self.result

In [ ]:
#USE CALCULATOR CLASS JUST CREATED

calc=Calculator() # ASSIGNING SHORT ABBRIVIATION TO METHOD
#calling add method
addition=calc.add(42,6)

#calling subtract method
subtraction=calc.subtract(42,6)

#calling divide method
division=calc.divide(42,6)

#calling multiply method
mulitplication=calc.multiply(42,6)

print("Addition- ",addition)
print("subtraction- ",subtraction)
print("division- ",division)
print("mulitplication- ",mulitplication)

Addition-  48
subtraction-  36
division-  7.0
mulitplication-  252

In [ ]:
# VIRTUAL PET
class Pet:
    # Define the constructor method to initialize the class with name, age and health_level
    def __init__(self, name, age, energy_level):
        self.name = name
        self.age = age
        self.energy_level = energy_level

    # Define a method to increase health level when feeding the pet
    def feed(self):
        self.energy_level += 10

    # Define a method to decrease health level when playing with the pet
    def play(self):
        self.energy_level -= 5

    # Define a method to check the health of the pet and print a message based on its health level
    def check_health(self):
        if self.energy_level < 50:
            print("Your pet is not feeling well.")
        else:
            print("Your pet is healthy.")


# Creating Object of Pet Class
my_pet = Pet("Fluffy", 2, 50)

# Feeding Pet
my_pet.feed()

# Playing with Pet
my_pet.play()

my_pet.play()

my_pet.play()

# Checking Pet Health
my_pet.check_health()

# Printing Pet Info
print("Name:", my_pet.name)
print("Age:", my_pet.age)
print("Energy Level:", my_pet.energy_level)

Your pet is not feeling well.
Name: Fluffy
Age: 2
Energy Level: 45

# OOPS practical example for explaination

In [ ]:
# 1st Step CLASS - Create Class : Blueprint to create the object

class house:
   pass
# pass : Written it as a placeholder, dont; throw error right now, later code will be added
# trying to create a blueprint which will help me build houses.

print(house)
house

<class '__main__.house'>

__main__.house

In [ ]:
 def abc():
   pass # is a placeholder address created without completely defining function to use it.

print(abc)

<function abc at 0x7e364dea04c0>

In [ ]:
# 2nd Step VARIABLES - within class:
# Object = Noun is the 1st thing created within class hence called Object Oriented Prog.
# Objects are *Entities* created using class

# house1 and house2 are the object created using the blueprint / class house.

In [ ]:
# 3rd Step METHODS - Create class variables ie. 'characteristics variable' inside class : characteristics based on which objects will differ

# 2 Types:
# 1. Class variable
# 2. Instance Variable

class house: #  ' : ' = defining any feature/characteristics variable of class after :
  house_design = 'modern' # Class Variable ie. 'Characteristics Variables' : Constant across all objects

In [ ]:
# 4TH Step - CREATE  OBJECTS. reassign new house() characteristics to previously created objects.

house1 = house() # house1 : Object
house2 = house() # house 2 : Object

In [ ]:
house1.house_design

'modern'

In [ ]:
# TO access the value of variable in the object
# Sytax :
# object_name.variable_name

In [ ]:
# All customers in class 'online bankaccount' will have same bank and IFSC

class bankaccount:
  bank_name = 'SBI' #class variable
  IFSC_code = 'SBIN00000' #class variable

In [ ]:
# created 2 customers - p1 & p2 OPENS SAVING ACCOUNT :

p1 = bankaccount()
p2 = bankaccount()

In [ ]:
p1.bank_name # class variable # to access the variable
               #small brackets are not required, brackets are required for methods/function

'SBI'

In [ ]:
p2.bank_name # Class variable

'SBI'

In [ ]:
# # 4th Step - Create  Instance variable - changes from class object to object
# CLASS == FAMILY &
# SELF/SHELF == JOINT FAMILY ACCOUNT
class bankaccount:
  # A.  DEFINE CLASS VARIABLE = FIXED
  bank_name = 'SBI' # Class Variables
  IFSC_code = 'SBIN0000' # Class Variables

  # B. DEFINE INSTANCE VARIABLE = CHANGES WITH DIFF OBJECT
  # __init__ == METHOD USED FOR CONSTRUCTING / CREATING OBJECT --> Constructor method : This method helps you
  # to initialise the object or create the object
  # analogy : it works similar to getting input in functions : Output
  def __init__(self, aadhar_card, city): #def 'in it'=='in shelf' keep variables to make each obj unique
    self.aadhar_card = aadhar_card #inside each shelf/self of variable == Keep Variable of same name
    self.city = city # Instance Variable created

    # self == STORAGE SHELF - parameter, argument, variable : which
    # stores DIFFERENT variables IN SHELF/SELF made for that variable.
    # mehtods inside the class to be utlised accross all methods
    # in the SHELF OF 'self.aadhar_card' STORE 'ALL THE aadhar_card VALUES'

    #SELF has to be added as 1st PARATMETER  WHILE CREATING ANY METHOD INSIDE A CLASS.
  def display_info(self): # NEW method CREATED using elements kept in shelf/self
    print(f'The client has adhar number {self.aadhar_card} and stays in {self.city}')

In [ ]:
# C. DEFINE DIFFERENT UNIQUE OBJECTS - WITH Instance variable AND ALL INSTANCE VARABLE'S VALUES
#  class will refer 'ALL' elements kept init to create the object
#  DEFINED EARLIER IN CLASS
#  MUST BE ADDED TO COMPLETE THE PROCESS OF CREATING OBJECT OTHERWISE GET ERROR
# DEFINE OBJ - with CLASS NAME'S REFERENCE 1ST BEFORE ( TO ASSIGN VALUE TO DIFF CLASS VARIABLES)
p1 = bankaccount(aadhar_card = '23131313', city = 'blr') # Instance variable value defined directly by calling object, without calling class: Changes Instance to Instance for different objects
p2= bankaccount(aadhar_card = '546546565', city = 'mum') # Instance variable value defined directly without calling class

In [ ]:
# 5TH STEP FINALLY RECALL OBJECT.METHOD


p1.display_info() # Recall created method (must be created inside class to recall)

The client has adhar number 23131313 and stays in blr

In [ ]:
p1.bank_name # Object's Class Variable recalled

'SBI'

In [ ]:
p2.bank_name # # Object's Class Variable recalled

'SBI'

In [ ]:
p1.aadhar_card # Instance variable : Changes Instance to Instance for different objects

'23131313'

In [ ]:
p2.aadhar_card # Instance variable : Specific to objects

'546546565'

In [ ]:

class circle:
  #pi = 3.14

  def __init__ ( self, r, pi = 3.14) :
    self.r = r
    self.pi = pi

  def area(self):
    return  self.pi * self.r**2

  def perimeter(self):
    return 2* self.pi * self.r

circle1 = circle(r = 2)
circle2 = circle(r = 5)

print(circle1.area())  # without () method will point to add but not able to display output
print(circle2.perimeter())

12.56
31.400000000000002

In [ ]:
class rectangle:
  def __init__ (self,length,bredth):
    self.length = length
    self.bredth = bredth

  def area(self):
    return 2 * (self.length + self.bredth)


  rectangle1 = rectangle(length=3, bredth=5) # DEFINE UNIQUE OBJ - with CLASS NAME'S REFERENCE
                                              #RECALL OBJECT.METHOD

  print(rectangle1.area())

16

In [ ]:
class house:
  house_design = 'Urban' # Class variable : constant accross all objects
  def __init__(self, no_rooms, pool_size):
    self.no_rooms = no_rooms # Instance variable
    self.pool_size = pool_size # Instance variable

In [ ]:
h1 = house(no_rooms = 2, pool_size = 500)
h2 = house(no_rooms = 4 , pool_size = 200)

In [ ]:
h1.house_design # class variable

'Urban'

In [ ]:
h2.house_design # class variable

'Urban'

In [ ]:
h1.no_rooms # Instance variable

2

In [ ]:
h2.no_rooms  # Instance variable

4

In [ ]:
# Macbook
class macbook:
  company_name = 'Apple'
  def __init__(self,ram, storage):
    self.ram = ram
    self.storage = storage

In [ ]:
mac1 = macbook(ram = '6GB',storage = '256GB') # ram , storage : instance variable
mac2  = macbook(ram = '8GB',storage = '1024GB')

In [ ]:
# Multiple objects can be created using class's VARIABLE INSTANCES

In [ ]:
# mac1, mac2 Objects which I have created using the blueprint/class macbook

In [ ]:
# Variable : Characteristics which define the object
# Class Variable : Variable which doesn't change across objects
# Instance Variable : Variable which changes across objects

In [ ]:
# Constructors and self
# __init__ and self

class macbook: # Class
  company_name = 'Apple' # Class Variable
  def __init__(self,ram,screen_size,harddisk):
    self.ram = ram # Instance Variable
    self.screen_size = screen_size # Instance Variable
    self.harddisk = harddisk # Instance Variable

# __init__ : Constructor method : This method helps you to initialise the object or create the object
# analogy : it works similar to getting input in functions : Output

In [ ]:
# self : parameter, argument, variable : which stores all variables &
# mehtods inside the class to be utlised accross all methods

In [ ]:
def function_name(a,b,c):
  pass

In [ ]:
mac1  = macbook(ram = '16GB', screen_size = '24cm',harddisk= '512GB')
# mac1 : object
# ram : instance variable
# company_name : Class Variable

In [ ]:
# Class --> variable --> Methods :: Objects & utlise functions to do the task
# Class : Blueprint/ machine : Object
# Variable : Inputs which define the characteristic of your object
# Method : Gears or machinary parts to manipulate the object

In [ ]:
class macbook: # Class
  company_name = 'Apple' # Class Variable
  def __init__(self,ram,screen_size,harddisk):
    self.ram = ram # Instance Variable
    self.screen_size = screen_size # Instance Variable
    self.harddisk = harddisk # Instance Variable

  def display_info(self): # method
    print(f'The macbook has the ram of {self.ram} GB, Screen size as {self.screen_size}, harddisk as {self.harddisk}')

In [ ]:
m1 = macbook(ram = 6, screen_size = 8,harddisk = 256)
# macbook class will refer init to create the object

In [ ]:
m1.company_name

'Apple'

In [ ]:
m1.display_info() # method

The macbook has the ram of 6 GB, Screen size as 8, harddisk as 256

In [ ]:
m2 = macbook(ram = 8, screen_size = 15,harddisk = 1024) # macbook class will refer init to create the object

In [ ]:
m2.display_info()

The macbook has the ram of 8 GB, Screen size as 15, harddisk as 1024

In [ ]:
# self =
# 1. must be defined as the first parameter for all *methods*,
# 2. it defines the object as created from variable instance
# 3. Stores every object's instance details separately in its own
# self account/shelf to keep things, which can be recalled from that self's address
# 4. To Recall - a. Instance Variable and b. Methods we later use self.

In [ ]:
# Practice : Create a class as circle and methods as area and perimeter
# area = pi* r**2
# Perimeter = 2* pi * r
# pi = 3.14
# radius is instance variable
# __init__ (double underscore as prefix and suffix)

class circle:
  def __init__(self,radius,pi = 3.14): # default value to pi
    self.radius = radius
    self.pi = pi

  def area(self): # Self as the first argument
    return self.pi * self.radius**2

  def perimeter(self): # Self as the first argument
    return 2* self.pi * self.radius


# no class variable
# radius & pi as your instance variable
# pi has default value assigned

In [ ]:
c1 = circle(radius = 3) # Creating an object c1

In [ ]:
c1.area()

28.26

In [ ]:
c3 = circle(5)  # can also write like this
print('Area of circle :', c3.area()) # area is method
print('Perimeter of circle :', c3.perimeter()) # Perimeter of the

Area of circle : 78.5
Perimeter of circle : 31.400000000000002

In [ ]:
# I could have created method without creating 'class'

def area_circle():
  pass

def perimeter_circle():
  pass

def Area_rectangle():
  pass

def perimeter_rectangle():
  pass


# but 1st creating class and 2ndly method is a more organized structure

In [ ]:
c1.perimeter()

18.84

In [ ]:
c2 = circle(radius = 10)

In [ ]:
c2.area()

314.0

In [ ]:
c2.perimeter()

62.800000000000004

In [ ]:
# Is c1 still active? : Yes
# Class multiple instances can be managed

In [ ]:
# import helps you use external libraries.pandas, numpy,
# import pandas as pd

In [ ]:
# Practice :
# Rectangle : Class
# Input : length , breadth __init__
# methods: Area, Perimeter and diagonal
# Area :  l*b
# perimeter : 2 (l+b)
# diagonal : (l**2 + b**2) ** (0.5)
# __init__ (double underscore as prefix and suffix)

# Class variable : not required
class Rectangle:
  def __init__(self,l,b):
    self.length = l
    self.breadth = b

  def area(self):
    """
    Output: Area of the rectangle

    """
    output = round(self.length * self.breadth)
    return output

  def perimeter(self):
    return  round(2* (self.length + self.breadth))

  def diagonal(self):
    return round((self.length **2 + self.breadth **2) ** (0.5))

In [ ]:
r1 = Rectangle(l = 5, b = 3)
r1.perimeter()

16

In [ ]:
r1.area() # no bracket: it will just show the info: to access the output of method put ()

15

In [ ]:
# r1.area

# ATM FUNCTIONING WITH OOPS

In [ ]:
# self is default and first parameter for all the methods

In [ ]:
# Problem - create ACCOUNT Methods : Balance_enquiry, withdraw, deposit

# 1st entire 'ACCOUNT' CLASS'S BLUEPRINT (WHICH INCLUDING 3 METHODS'S FUNCTIONING)
# LATER CREATE DIFF PERSON'S ACCOUNT AND KEEP THEIR BALANCE AND UPDATED BALANCE separately



class account:
  def __init__(self,balance):
    self.balance = balance

  def balance_enquiry(self):
    print('The current balance is INR',self.balance)


  def deposit(self,d_amount): # d_amount is specific to this method
    self.balance = self.balance + d_amount # Notice here i haven't self.d_amount
    print('The new balance is INR',self.balance)

# ABOVE EXAMPLE - SELF = SHARED ACCOUNT, SO USED BY ALL METHODS TO
# RECALL ANY VARIABLE KEPT IN SELF/SHELF
# BUT INSIDE METHOD WE CAN RECALL ANY VARIABLE 'ONLY INSIDE THAT METHOD'
# LIKE d_amount WE DON'T REQUIRE TO WRITE SELF. IN THE BEGINNING AS
# LIKE LOCAL VARIABLE

# SO IF VARIABLE NEEDED IN ANOTHER METHOD THEN STORE IN 'SELF' OTHERWISE
# U CAN DIRECTLY USE VARIABLE WITHOUT CREATING SELF to keep variable for later outside use:
#  self.d_a = d_amount

# CREATE CONDITINS INSIDE FUNCTIONS :.

  def withdraw(self,w_amount):
    if self.balance < w_amount:
      print('Insufficient Balance')
    else:
      self.balance = self.balance - w_amount
      print('The new balance is INR',self.balance)

In [ ]:
almabetter = account(balance = 1000)

In [ ]:
# only self : no parameter is required
# Self , parameter: then parameter has to be given as an input

In [ ]:
almabetter.balance_enquiry()

The current balance is INR 1000

In [ ]:
almabetter.deposit(d_amount = 500)

The new balance is INR 1500

In [ ]:
almabetter.balance_enquiry()

The current balance is INR 1500

In [ ]:
almabetter.withdraw(w_amount = 2000)

Insufficient Balance

In [ ]:
almabetter.withdraw(w_amount = 1000)

The new balance is INR 500

In [ ]:
almabetter.balance_enquiry()

The current balance is INR 500

In [ ]:
alok = account(balance = 100)

In [ ]:
alok.balance_enquiry()

The current balance is INR 100

In [ ]:
almabetter.balance_enquiry()

The current balance is INR 500

In [ ]:
# TO ENCAPSULATE AND MAKE 'BALANCE VARIABLE' INACCEABLE FOR DIRECT CHANGING LIKE:
# almabetter.balance = 1000000 --> to barge into the balance variable and
# withdraw extra money.
# we add __ 'double underscore' before any variable.

class account:
  def __init__(self,balance): #NOT __ FOR VARIABLE NAME TO BE ADDED.
    self.__balance = __balance # ENCAPSULATED BALANCE -> __BALANCE

  def balance_enquiry(self):
    print('The current balance is INR',self.__balance)


  def deposit(self,d_amount): # d_amount is specific to this method
    self.__balance = self.__balance + d_amount # Notice here i haven't self.d_amount
    print('The new balance is INR',self.__balance)


  def withdraw(self,w_amount):
    if self.__balance < w_amount:
      print('Insufficient Balance')
    else:
      self.__balance = self.__balance - w_amount
      print('The new balance is INR',self.__balance)

In [ ]:
john = account(balance = 1000)

In [ ]:
john.balance

1000

In [ ]:
john.balance = 100000 # He accessed this variable : changed the value of it.

In [ ]:
john.balance_enquiry()

The current balance is INR 100000

In [ ]:
# Characteristics of class
# Encaptulation : CAN BE USED IN CLASS BUT NOT METHOD & IS
# WAY TO Secure your variable TO NOT access it directly.

# inside Method - local variable destroyed once you run again but
# inside class - object & instance variable kept inside .self not destroyed.


# putting __ (double underscore ): secures the variable
class account:
  def __init__(self,balance):
    self.__balance = balance

#SINCE ENCAPSULATED VALIABLE CAN'T BE ACCESSED DIRECTLY HENCE NEED 2 METHOD:
# 1. GETTER METHOD - TO GET/RECALL VALUE OF ENCAPSULATED VARIABLE
  def balance_enquiry(self):
    print('The current balance is INR',self.__balance)

# 2. SETTER METHOD - TO SET OR CHANGE, VALUE OF ENCAPSULATED VARIABLE
  def deposit(self,d_amount): # d_amount is specific to this method
    self.__balance = self.__balance + d_amount # Notice here i haven't self.d_amount
    print('The new balance is INR',self.__balance)


  def withdraw(self,w_amount):
    if self.__balance < w_amount:
      print('Insufficient Balance')
    else:
      self.__balance = self.__balance - w_amount
      print('The new balance is INR',self.__balance)

In [ ]:
john = account(balance = 1000) # KYC

In [ ]:
john.balance_enquiry()

The current balance is INR 1000

In [ ]:
john.__balance #CAN'T A. ACCESS & B. CHANGE VALUE INSIDE ENCAPSULATED VARIABLE

AttributeError: 'account' object has no attribute '__balance'

In [ ]:
john.__balance = 10000000  #EVEN IF WANT TO ACCESS AND CHANGE VALUE OF ENCAPSULATED VARIABLE
# Class : create a different instance dummy variable

In [ ]:
john.__balance # dummy variable created by class: not being utlised by methods inside it.

10000000

In [ ]:
john.balance_enquiry()  #CURRENT BALANCE IS STILL OLD BALANCE

The current balance is INR 1000

In [ ]:
# In Some application : there are few variables which are sensitive, and need protection to get updated directly.
# Protect : by putting __ (double underscore) as prefix

In [ ]:
# Function : local variables which will get destroyed, you can;t access it once it has run.
# Class : Instance creation, Encaptulation is required to protect some variables.

In [ ]:
# Encryption :

In [ ]:
# Encapsulation : Makes the variable secret by putting double underscore before the variable, can;t be changed or accessed directly

class account:
  def __init__(self,balance = 0): # Default value for balance
    self.__balance = balance # 2 underscores

  def display_balance(self): # getter method
    print(f'The current balance is {self.__balance}')


  def withdraw(self,w_amount): # w_amount : private data for this method
    if w_amount > self.__balance:
      print('Insufficient Balance')
    else:
      self.__balance = self.__balance - w_amount
      print(f'New balance is {self.__balance}')


  def deposit(self,d_amount): # d_amount : private data for this method
    self.__balance = self.__balance + d_amount
    print(f'New balance is {self.__balance}')

In [ ]:
almabetter = account(balance = 1000)

In [ ]:
almabetter.__balance

AttributeError: 'account' object has no attribute '__balance'

In [ ]:
almabetter.display_balance()

The current balance is 1000

In [ ]:
almabetter.__balance = 10000

In [ ]:
almabetter.display_balance()

The current balance is 1000

In [ ]:
almabetter.deposit(1500)

New balance is 2500

In [ ]:
almabetter.__balance # dummy variable created by python ;
#which actually doesn;t the change the value present in the class/ object

10000

In [ ]:
# getter : display_balance and setter : deposit encaptualted variable method

In [ ]:
# getter method : Displays the value of encaptulated variable
# setter method : Changes the value of encaptulated variable
# Encaptulated variable can't be changed directly.

In [ ]:
class circle:
  def __init__(self,radius):
    self.__radius = radius

  def display_radius(self): # getter method
    print('Radius',self.__radius)

  def update_radius(self, new_radius): # setter method
    self.__radius = new_radius
    print('New Radius', self.__radius)

In [ ]:
c1 = circle(radius = 5)

In [ ]:
c1.__radius

AttributeError: 'circle' object has no attribute '__radius'

In [ ]:
# getter method to see the value of radius
c1.display_radius()

Radius 5

In [ ]:
c1.update_radius(new_radius = 10)

New Radius 10

In [ ]:
c1.display_radius()

Radius 10

# POLYMORPHYSM - Something which takes many forms

In [ ]:
# Polymorphism :
# 1. Child and parent class can have method will same name.
# 2. Objects created by Child class will access the method of child class if names are clashing with parent class.

In [ ]:
# Polymorphism

class Animal: # Parent class
  def __init__(self, name):
    self.name = name

  def speak(self):
    print("Animal Sound")

class Dog(Animal): # Dog : Child Class (with) super().__init__() (to define) Animal : parent Class
  def __init__(self, name, breed): # it's the best practice to include all variables of parent class
    super().__init__(name) # Shortcut : which defines access parent init for the self argument
    self.breed = breed #  Specfic to Dog Class : Child Class

  def speak(self):
    print("Woof! I am", self.breed)

class Cat(Animal):  #   Child Class
  def __init__(self, name, fur):
    super().__init__(name)
    self.fur = fur

  def speak(self):
    print("Meow! I have", self.fur, "fur")

# Create objects
my_animal = Animal("Animal")
my_dog = Dog("Buddy", "Labrador")
my_cat = Cat("Whiskers", "Long")

# Call speak method on each object
my_animal.speak()  # Output: Animal Sound
my_dog.speak()  # Output: Woof! I am Labrador
my_cat.speak()  # Output: Meow! I have Long fur

Animal Sound
Woof! I am Labrador
Meow! I have Long fur

In [ ]:
# Shape Calculator 📐
class Shape:
    # Define abstract methods to calculate area and perimeter. Will be implemented by child classes.
    def area(self):
        pass

    def perimeter(self):
        pass


class Square(Shape):
    # Define the constructor method to initialize the class with the length of the side
    def __init__(self, side):
        self.side = side

    # Override the area method to calculate the area of the square
    def area(self):
        return self.side ** 2


class Rectangle(Shape):
    # Define the constructor method to initialize the class with the width and height
    def __init__(self, width, height):
        self.width = width
        self.height = height

    # Override the area method to calculate the area of the rectangle
    def area(self):
        return self.width * self.height


class Circle(Shape):
    # Define the constructor method to initialize the class with the radius
    def __init__(self, radius):
        self.radius = radius

    # Override the area method to calculate the area of the circle
    def area(self):
        return 3.14 * self.radius ** 2



# Creating Objects of Shape Classes
square = Square(5)
rectangle = Rectangle(3, 4)
circle = Circle(2)

# Calculating Area and Perimeter of Shapes
print("Area of Square:", square.area())

print("Area of Rectangle:", rectangle.area())

print("Area of Circle:", circle.area())

Area of Square: 25
Area of Rectangle: 12
Area of Circle: 12.56

In [ ]:
# Bank Account Management System 💻🏦

# Define a BankAccount class
class BankAccount:
    bank_name = 'SBI' # Class Variables A.  DEFINE CLASS VARIABLE = FIXED
    IFSC_code = 'SBIN0000' # Class Variables

    # Constructor to initialize account details
    def __init__(self, name, account_number, balance):
        self.name = name
        self.account_number = account_number
        self.balance = balance

    # Method to deposit funds into the account
    def deposit(self, amount):
        self.balance += amount
        print("Deposit successful. Your new balance is:", self.balance)

    # Method to withdraw funds from the account
    def withdraw(self, amount):
        if amount <= self.balance:
            self.balance -= amount
            print("Withdrawal successful. Your new balance is:", self.balance)
        else:
            print("Insufficient balance. Your current balance is:", self.balance)

    # Method to view account details
    def account_details(self):
        print("Name:", self.name)
        print("Account Number:", self.account_number)
        print("Balance:", self.balance)



# Test Case

# Create a new bank account
account1 = BankAccount("John Doe", "1234567890", 1000)

# Test deposit method
account1.deposit(500)

# Test withdraw method
account1.withdraw(2000)

# Test account details method
account1.account_details()

account1.bank_name #for recalling constant fixed class variable don't add ( )

Deposit successful. Your new balance is: 1500
Insufficient balance. Your current balance is: 1500
Name: John Doe
Account Number: 1234567890
Balance: 1500

'SBI'

# INHERITANCE
* Inheritance allows a new class to be based on an existing class.
* absorbing the properties and behaviors of an existing class,
* while also allowing for the new class to add or modify its own unique properties and behaviors.

# Single Inheritance seen LATER v/s Multiple Inheritance C = A + B

In [ ]:
# MULTIPLE INHERITANCE
class A:
    def display1(self):
      print('This is class A')
class B:
    def display2(self):
      print('This is class B')
class C(A, B):
    def display3(self):
      print('This is class C')

obj = C()
obj.display1()
obj.display2()
obj.display3()

This is class A
This is class B
This is class C

In [ ]:
#  Hierarchical Inheritance
class A:
    def display1(self):
      print('This is class A')

class B(A):
    def display2(self):
      print('This is class B')
class C(A):
    def display3(self):
      print('This is class C')
class D(A):
    def display4(self):
      print('This is class D')

obj1 = B()
obj2 = C()
obj3 = D()
obj1.display1()
obj1.display2()
obj2.display1()
obj2.display3()
obj3.display1()
obj3.display4()

This is class A
This is class B
This is class A
This is class C
This is class A
This is class D

In [ ]:
class Vehicle:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year

    def start_engine(self):
        print("Starting engine...")

#then define a subclass called Car that inherits from the Vehicle class and adds its own unique properties and methods.

class Car(Vehicle):
    def __init__(self, make, model, year, num_doors):
        super().__init__(make, model, year)
        self.num_doors = num_doors

    def drive(self):
        print("Driving the car...")

# Car class inherits from the Vehicle class using the super() function.
# This means that the Car class will have access to all the properties and methods of the Vehicle class.
# The init() method of the Car class overrides the init() method of the Vehicle class
# to include an additional parameter for the number of doors.
# The drive() method is unique to the Car class and is not present in the Vehicle class.

vehicle = Vehicle("Toyota", "Corolla", 2022)
car = Car("Tesla", "Model S", 2021, 4)

vehicle.start_engine()  # prints "Starting engine..."
car.start_engine()      # prints "Starting engine..."

# vehicle.drive()       # This will produce an error, as the drive() method is not defined for the Vehicle class
car.drive()

Starting engine...
Starting engine...
Driving the car...

In [ ]:
# Inheritance : super().__init__()

class Animal: # Parent class
  def __init__(self,species,legs):
    self.species = species
    self.legs = legs

  def walk(self):
    print('Animal will walk on four legs')

  def sleep(self):
    print('Animal will sleep eyes closed')

  def display_species(self):
    print(f'The species is {self.species}')


class Dog(Animal): # Dog : Child Class : Animal : parent Class
  def __init__(self,breed,species,legs): # it's the best practice to include all variables of parent class
    self.breed = breed #  Specfic to Dog Class : Child Class
    self.species = species # Specfic to Animal Class : Parent Class
    self.legs = legs # Specfic to Animal Class : Parent Class

  def eat(self):
    print('Dogs are omnivorous')


class Human(Animal):# Human : Child Class : Animal : Parent Class
  def __init__(self,race,species,legs):
    self.race = race # Specific to Human class : Child Class
    self.species = species # Specfic to Animal Class : Parent Class
    self.legs = legs # Specfic to Animal Class : Parent Class

  def eat(self):
    print('Humans are omnivorous')

In [ ]:
beagle = Dog(breed = 'beagle',species = 'dogo' , legs = 4)# beagle : object

In [ ]:
beagle.eat()

Dogs are omnivorous

In [ ]:
beagle.sleep() # error or Animal will sleep eyes closed # Inheritance

Animal will sleep eyes closed

In [ ]:
# Inheritance : Child Class will be able to use methods present in Parent class

In [ ]:
beagle.display_species()

The species is dogo

In [ ]:
class Animal: # Parent class
  def __init__(self,species,legs):
    self.species = species
    self.legs = legs

  def walk(self):
    print('Animal will walk on four legs')

  def sleep(self):
    print('Animal will sleep eyes closed')

  def display_species(self):
    print(f'The species is {self.species}')


class Dog(Animal): # Dog : Child Class : Animal : parent Class # super().__init__()
  def __init__(self,breed,species,legs): # it's the best practice to include all variables of parent class
    self.breed = breed #  Specfic to Dog Class : Child Class
    # self.species = species # Specfic to Animal Class : Parent Class
    # self.legs = legs # Specfic to Animal Class : Parent Class
    super().__init__(species,legs) # Shortcut : which defines access parent init for the self argument

  def eat(self):
    print('Dogs are omnivorous')


class Human(Animal):# Human : Child Class : Animal : Parent Class
  def __init__(self,race,species,legs):
    self.race = race # Specific to Human class : Child Class
    # self.species = species # Specfic to Animal Class : Parent Class
    # self.legs = legs # Specfic to Animal Class : Parent Class
    super().__init__(species,legs) # parent init for the self argument

  def eat(self):
    print('Humans are omnivorous')

In [ ]:
# Inheritance. : Child class can access the methods of parent class
# Polymorphism : Child class can have method with same name as of parent class with different functionality.

In [ ]:
# parent class method :
# Create object using parent class

a1 = Animal(species = 'xyz', legs = 4) # Created the object using parent class

In [ ]:
a1.walk() #

Animal will walk on four legs

In [ ]:
# from pandas import read_csv

In [ ]:
# Game Industry : Company create game
from abc import ABC, abstractmethod # abc is a library which can be used to create abstract method

class game(ABC): # Abstract class

  @abstractmethod
  def welcome_message(self): # This method is  mandatory
    pass

  @abstractmethod
  def show_result(self): # This method is  mandatory
    pass

  @abstractmethod
  def winning_points(self): # This method is  mandatory
    pass


  def exit(self): # This method is not mandatory
    pass

In [ ]:
class RockPaperScissor(game): #
  def __init__(self,a,b):
    self.a = a
    self.b = b

  def final_result(self):
    print('the winner')

  def welcome_message(self):
    print('Welcome to this game')

  def show_result(self):
    print('You have won')

  def winning_points(self):
    print('Points aquired : 123')

In [ ]:
g1 = RockPaperScissor(a = 1, b = 2)

In [ ]:
# Abstraction : helps you to define the rule to create the blueprint or class

In [ ]:
# Abstraction : Rule to create the blueprint

from abc import ABC,abstractmethod # Importing a library # Standard line

class Animal(ABC): # Abstract class

    @abstractmethod
    def make_sound(self):
        pass

    @abstractmethod
    def eat(self):
        pass

    @abstractmethod
    def walk(self):
      pass

In [ ]:
class Dog(Animal):
  def make_sound(self):
    pass
  def sleep(self):
    pass
  def eat(self):
    pass

In [ ]:
d1 = Dog()

TypeError: Can't instantiate abstract class Dog with abstract method walk

# ABSTRACTION

 *  Abstraction : Standardisation of creating class.
 * Abstraction is useful to standardise the code.
 * Data abstraction is a core concept in object-oriented programming that refers to the practice of representing complex real-world objects using simpler, more abstract models. Abstraction allows us to focus on the essential features of an object while hiding the irrelevant or complex details.

#### **Abstraction Method:**

Abstraction can be achieved in two ways:

1. **Abstract Classes:** An abstract class is a class that
* cannot be instantiated and is often
* used to define a blueprint for other classes.
* It can contain abstract methods as well as
* concrete methods.
* An abstract method is declared but not implemented; the
* derived classes are responsible for providing a specific implementation of these methods.

2. **Interfaces:** An interface is
* similar to an abstract class and is
* used to specify a set of methods that the
* implementing class must implement. However,
* unlike abstract classes,
* interfaces cannot contain concrete methods (methods with an implementation).

### **Demonstration:**

To demonstrate abstraction in Python (which doesn't have interfaces in the same way as languages like Java or C#), let’s use an abstract class:

Suppose we have a scenario of different types of vehicles where each vehicle has a different way of starting:

In [71]:
from abc import ABC, abstractmethod

class Vehicle(ABC):
    @abstractmethod
    def start(self):
        pass

class Car(Vehicle):
    def start(self):
        print("Starting car with key")

class Motorcycle(Vehicle):
    def start(self):
        print("Starting motorcycle with button")

# Instantiate the objects
car = Car()
motorcycle = Motorcycle()

# Use the objects
car.start()  # Outputs: Starting car with key
motorcycle.start()  # Outputs: Starting motorcycle with button

Starting car with key
Starting motorcycle with button

In this example:

- **`Vehicle`** is an abstract class that defines an abstract method **`start()`**. This method acts as a template for the **`start`** method that must be implemented in any subclass of **`Vehicle`**.
- **`Car`** and **`Motorcycle`** are concrete classes that inherit from **`Vehicle`** and provide specific implementations of the **`start`** method.
- The actual implementation details of starting the vehicle are abstracted away. When you call **`start()`** on a **`Car`** or **`Motorcycle`** object, you don’t need to know the internal details of how each vehicle starts. You only need to know that they can start, which is the essence of abstraction.

 **Key Points:**

- Abstraction helps in reducing programming complexity and effort by hiding the unnecessary details from the user.
- It allows the programmer to focus on interactions at a higher level.
- It is achieved through abstract classes and interfaces in many OOP languages.
- Abstract methods define a common interface for different implementations in the derived classes.

 Here's what happens when abstract methods are not defined while creating a child class:

In [ ]:
#from abc import ABC, abstractmethod

class Vehicle(ABC):
    @abstractmethod
    def start(self):
        pass

Creating a Child Class Without Implementing the Abstract Method:

In [ ]:
class Car(Vehicle):
    pass

Here, Car is a child class of Vehicle, but it doesn't implement the start() method.

Instantiating the Child Class:

In [ ]:
my_car = Car()

TypeError: ignored

1. **Result:**
    - When you try to instantiate **`Car`**, Python will raise a **`TypeError`** because **`Car`** has not implemented the abstract method **`start()`** defined in its parent class **`Vehicle`**.
    - The error message will typically say something like: "**`Can't instantiate abstract class Car with abstract methods start`**".
2. **Key Points:**
    - An abstract class is more like a template for its subclasses. It ensures that certain methods are implemented in child classes.
    - If a child class of an abstract class does not implement all the abstract methods, it cannot be instantiated. This enforces a contract that the child classes must follow.
    - This behavior is crucial for maintaining a consistent interface and ensuring that certain functionalities are provided by all subclasses.

# Encapsulation

* refers to the bundling of data (attributes) and methods (functions) that operate on the data into a single unit or class.
* Encapsulation also restricts direct access to some of an object's components, which is a means of preventing accidental interference and misuse of the methods and data.
* Encapsulation in Python promotes a modular approach to development, enhances code security, and prevents data corruption by restricting direct access to an object's internal state. It's a key aspect of writing maintainable, structured, and robust code in object-oriented programming.

Here's a detailed look at encapsulation in Python:

1. **Bundling Data and Methods**: In encapsulation, data and the methods that manipulate that data are kept together in a single entity, typically a class. This makes the code more organized and modular. Each object created from the class can have its own attributes and methods, providing a clear structure for organizing functionality.

2. **Access Control**: Encapsulation also involves controlling access to the internal state of the object. This is usually achieved through
* access modifiers, which determine
* how and
* from where the
* class's attributes and methods can be accessed.
  
  *  - **Public Access**: Members (methods or attributes) of a class that are available from outside the class. In Python, all members are public by default.
  *  - **Private Access** = DOUBLE UNDERSCORE BEFORE NAME: Members that are only available within the class itself. You can make a member private in Python by prefixing its name with double underscores (**`__`**). Private members cannot be accessed directly from outside the class but can be accessed within the class.
  *  - **Protected Access** = SINGLE UNDERSCORE BEFORE NAME: Members that are accessible within the class and its subclasses. Python uses a single underscore (**`_`**) prefix to denote protected members. However, this is more of a convention, and Python does not enforce strict access control.

In [ ]:
class Car:
    def __init__(self, model, year):
        self.model = model          # Public Attribute
        self.__year = year          # PRIVATE Attribute (with double underscores) # SETTER

    def get_car_year(self):         # Public Method # GETTER
        return self.__year

my_car = Car("Toyota", 2021)
print(my_car.model)                # Accessible
print(my_car.get_car_year())       # Accessible

# Attempting to directly access or modify the private attribute:
# print(my_car.__year)            # Not accessible, will raise an AttributeError

# Attempting to modify the private attribute:
my_car.__year = 2023               # This doesn't actually change the private attribute
print(my_car.get_car_year())       # The original private attribute value is retained

# model is a public attribute, while __year is private.
# The method get_car_year is public and can be used to access the private attribute.

Toyota
2021
2021

# UNDERSTAND CONCEPT WITH HELP COMMAND

In [ ]:
help(object)

Help on class object in module builtins:

class object
 |  The base class of the class hierarchy.
 |
 |  When called, it accepts no arguments and returns a new featureless
 |  instance that has no instance attributes and cannot be given any.
 |
 |  Built-in subclasses:
 |      anext_awaitable
 |      async_generator
 |      async_generator
 |      async_generator_asend
 |      ... and 104 other subclasses
 |
 |  Methods defined here:
 |
 |  __delattr__(self, name, /)
 |      Implement delattr(self, name).
 |
 |  __dir__(self, /)
 |      Default dir() implementation.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Default object formatter.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(self, /)
 |      Helper for pickle.
 |
 |  __reduce_ex__(self, protocol, /)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setattr__(self, name, value, /)
 |      Implement setattr(self, name, value).
 |
 |  __sizeof__(self, /)
 |      Size of object in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __init_subclass__(...) from builtins.type
 |      This method is called when a class is subclassed.
 |
 |      The default implementation does nothing. It may be
 |      overridden to extend subclasses.
 |
 |  __subclasshook__(...) from builtins.type
 |      Abstract classes can override this to customize issubclass().
 |
 |      This is invoked early on by abc.ABCMeta.__subclasscheck__().
 |      It should return True, False or NotImplemented.  If it returns
 |      NotImplemented, the normal algorithm is used.  Otherwise, it
 |      overrides the normal algorithm (and the outcome is cached).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __class__ = <class 'type'>
 |      type(object) -> the object's type
 |      type(name, bases, dict, **kwds) -> a new type

In [ ]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [ ]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |
 |      If the key is not found, return the default if given; otherwise,
 |      raise a KeyError.
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

# PROBLEMS TO SOLVE

In [ ]:
# Question:

# You are tasked with creating a simple program to manage inventory in a manufacturing plant.
# Define a class called Product that represents a product in the inventory.
# Each product should have attributes such as name, quantity, and price. # Instance variable

# Write methods within the class to:

# Method1 : Initialize the product with a name, initial quantity, and price. (Note : price should be encaptulated variable)
# Method2 : Add a specified quantity to the product's current quantity.
# Method3 : Subtract a specified quantity from the product's current quantity.
# Method4 : Calculate the total value of the product (quantity * price).
# Method5 : getter method for price
# Method6 : Setter method for price
# Object: create an instance of the Product class for a product named "lamp" with an initial quantity of 100 and a price of $10.

# Perform the following operations on the lamp:

# Add 50 more lamp to the inventory.
# Subtract 30 lamp from the inventory.
# Print the total value of the remaining lamp.
# Change the price to $12 and again print the total value of the remaining lamp

In [ ]:

class product:
  def __init__(self,name, quantity, price):
    self.name = name
    self.quantity = quantity
    self.__price = price # Encaptulated the price : __ (I restrict the access of this variable)

  def add_quantity(self,new_quantity):
    self.quantity += new_quantity
    return self.quantity

  def sub_quantity(self,out_quantity):
    if self.quantity >= out_quantity:
      self.quantity -= out_quantity # self.quantity = self.quantity  - out_quantity
      return self.quantity
    else:
      print('Insufficient quantity present')

  def product_total_value(self):
    return self.quantity * self.__price


  def display_price(self): # getter method
    return self.__price


  def update_price(self,new_price): # setter method
    self.__price = new_price
    return self.__price





# Inventory : List the product , add the quantity, sub the quantity

In [ ]:
# Object: create an instance of the Product class for a product named "lamp" with an initial quantity of 100 and a price of $10.

# Perform the following operations on the lamp:

# Add 50 more lamp to the inventory.
# Subtract 30 lamp from the inventory.
# Print the total value of the remaining lamp.
# Change the price to $12 and again print the total value of the remaining lamp

In [ ]:
p1 = product(name = 'lamp',quantity=100, price = 10) # p1 is the object

In [ ]:
p1.add_quantity(new_quantity = 50)

150

In [ ]:
p1.sub_quantity(out_quantity = 30)

70

In [ ]:
p1.product_total_value() # 120 * 10 = 1200

1200

In [ ]:
p1.display_price()

10

In [ ]:
p1.update_price(new_price = 12)

12

In [ ]:
p1.product_total_value() # 120 * 12 = 1440

1440

In [ ]:
# Encryption : Applied on Databases or tables, data sorted

# Encaptulation : in a class which is running right now, you won;t be able to access the variable.

In [ ]:
# facebook : Data Company : Which feeds on your behaviour
# Digital Marketing : Target Audience -> Behaviour or characteristics of users --> Interaction with platform, post, follow, comment, message, recent location :
# Revenue model based on the ad --> Pay per click

# Malicious files : Image download: meme,  keylogger

In [ ]:
# PROBLEM OF WRONG PARENT CLASS ASSIGNMENT - The error is coming in super().__init(side,side)

class Rectangle:
    def __init__(self, width, height):
        self.width = width
        self.height = height


    def area(self):
        return self.width * self.height


class Square(Rectangle):
    def __init__(self, side):
        self.side = side
        super().__init(side, side)


rectangle = Rectangle(5, 3)
square = Square(4)
print(rectangle.area())
print(square.area())

AttributeError: 'super' object has no attribute '_Square__init'

In [ ]:
# PROBLEM OF RECALLING UNDEFINED CLASS - TRIANGE. The error in that code is we are calling undefined method

class Shape:
    def area(self):
        pass

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return 3.14 * self.radius * self.radius

class Square(Shape):
    def __init__(self, side):
        self.side = side

    def area(self):
        return self.side * self.side

def print_area(shape):
    print("Area:", shape.area())

circle = Circle(5)
square = Square(4)
print_area(circle)
print_area(square)

print_area(triangle)

Area: 78.5
Area: 16

NameError: name 'triangle' is not defined

In [81]:
# get_first & last from color_list


lst = ["Red", "Green", "White", "Black"]  # Predefined list
print( "%s %s"%(lst[0],lst[-1]))

Red Black

In [ ]:
#FIND MEDIAN

def find_median(x, y, z):
  """
  This function finds the median of three given numbers using conditional statements.
  """
  if x <= y <= z:
    return y
  elif y <= x <= z:
    return x
  elif z <= x <= y:
    return x
  else:
    return z

# Get three numbers as input
x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
z = int(input("Enter third number: "))

# Find the median
median = find_median(x, y, z)

# Print the median
print("The median is:", median)

In [82]:

#What will be the output of below Python code?

class A():
        def __init__(self,count=100):
                self.count=count
obj1=A()
obj2=A(102)
print(obj1.count)
print(obj2.count)

#By default,the value of "count" is 100, so obj1.count=100. For second object, value of "count" is 102, so obj2.count=102.

100
102

In [83]:
#What will be the output of the following Python code?

class test:
    def __init__(self):
        self.variable = 'Old'
        self.Change(self.variable)
    def Change(self, var):
        var = 'New'
obj=test()
print(obj.variable)

#This is because strings are immutable. Hence any change made isn’t reflected in the original string.

Old

In [88]:
#What will be the output of below Python code?

class A:
        def __init__(self):
                self.count=5
                self.count=count+1 #count DEFINED 2nd TIME wrong and python takes final defination
a=A()
print(a.count)

# It will throw an error as inside constructor, "count" is not defined.

NameError: name 'count' is not defined

In [89]:
#How many objects and reference variables are there for the given Python code?
#Ans- 3 and 1
class A: #this is class
        print("Inside class") #this is 1 reference variable
A() #this is object 1
A() #this is object 2
obj=A() #this is object 3
# obj is the reference variable here and an
# object will be created each time A() is called.So there will be 3 objects created.

Inside class

In [93]:

# What will be the output of below Python code?

class Student:
        def __init__(self,name,id):
                self.name=name
                self.id=id
                print(self.id)
std=Student("Simon",1) # getting the 1st 1 because of this assignment
std.id=2  # changed id and reassigned new id.
print(std.id) #2nd output because of this print

# When object with id =1 is created for Student, constructor is invoked and it prints 1.
# Later, id has been changed to 2, so next print statement prints 2.

1
2

In [95]:
# Which of the following is correct?

class A:
    def __init__(self,name):
        self.name=name
a1=A("john")
a2=A("john")

print(a1.name)
print(a2.name)
# Correct Answer - id(a1) and id(a2) will have different values although looks 'same name'.

john
john

In [97]:
#What will be the output of the following code?

class test:
     def __init__(self, a="Hello World"):
         self.a = a

     def display(self):
         print(self.a)
obj=test()
obj.display()

Hello World